body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #262A2F;
}

.logogonet {
    filter: contrast(0) brightness(10);
    width: 120px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

.title-error {
    font-weight: 800;
}

.text-error {
    font-size: 18px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

.title-blue {
    color: #1E43B2;
}

.btn-blue {
    color: #1E43B2;
    font-size: 14px;
}

.bg-section {
    background-color: $bggray;
}

.bg-navbar1 {
    background-color: #05123C66;
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    opacity: 0.5;
}

.vs__dropdown-toggle {
    border: none !important;
}

.btn-white {
    background-color: white;
    /*color: #28268C !important;*/
    color: #000 !important;
    border-radius: 10px;
    min-width: 130px;
    min-height: 42px;
    font-size: 14px;
}

.btn-white:hover {
    /*background-color: #28268C !important;*/
    background-color: #3B3E48 !important;
    color: #fff !important;
    border-radius: 10px;
}

.btn-primary {
    /*background-color: #1E43B2 !important;
    border-color: #1E43B2 !important;*/
    background-color: #000 !important;
    border-color: #000 !important;
    border-radius: 10px !important;
    padding: 0.5vw 1vw 0.5vw 1vw;
    min-width: 130px;
    min-height: 42px;
    font-size: 14px;
    color: #fff;
}

.btn-primary:hover {
    /*background-color: #FF722A !important;
    border-color: #FF722A !important;*/
    background-color: #3B3E48 !important;
    border-color: #3B3E48 !important;
    border-radius: 10px !important;
    padding: 0.5vw 1vw 0.5vw 1vw;
}

.bg-gradient {
    //background: transparent linear-gradient(288deg, #00C5D6 0%, #28268C 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(288deg, #3B3E48 0%, #657786 100%) 0% 0% no-repeat padding-box;
    color: white;
}

.vueperslides--rtl .vueperslides__arrows--outside .vueperslides__arrow--prev,
.vueperslides__arrows--outside .vueperslides__arrow--next,
.vueperslides--rtl .vueperslides__arrows--outside .vueperslides__arrow--next,
.vueperslides__arrows--outside .vueperslides__arrow--prev {
    /* background-color: #1E43B2;*/
    background-color: #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    transform: scale(.8);
    top: 40%;
}

.vueperslides__arrow svg {
    width: 2.8em !important;
}

.dropdown-menu-right {
    right: 0;
    left: -50%;
}

.dropdown-menu {
    border: 0px solid rgba(0, 0, 0, .15);
    box-shadow: 0 12px 32px 0 rgb(8 15 26 / 16%);
}

.dropdown-menu:before {
    bottom: 100%;
    left: calc(50% - 10px);
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: transparent transparent #fff;
}

.b-sidebar.b-sidebar-right {
    left: auto;
    right: 0;
    //background: transparent linear-gradient(288deg, rgb(0 197 214 / 50%) 0%, rgb(40 38 140 / 50%) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(288deg, rgb(0 0 0 / 100%) 0%, rgb(0 0 0 / 100%) 100%) 0% 0% no-repeat padding-box;
    background-color: rgb(0 0 0 / 100%) !important;
    width: 100vw;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    color: white !important;
    margin-right: 0 !important;
    transform: scale(2);
    padding: 1vw;
    text-shadow: none;
}

.close {
    opacity: 1;
}

#bv-modal-notification button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    color: #000 !important;
    margin-right: 0 !important;
    transform: scale(1.2);
    padding-top: 5px;
    text-shadow: none;
}

#bv-modal-notification .modal-title {
    font-weight: 600;
}

.fade {
    background: radial-gradient(#00000096, #00000099);
}

@media (min-width: 576px) {
    #bv-modal-notification .modal-dialog {
        margin: 10.75rem auto;
    }
}

.b-sidebar>.b-sidebar-header {
    justify-content: flex-end;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: rgba(0, 0, 0, .1);
    border: none;
    filter: invert(1);
}

.text-gonet-big {
    font-size: 22px;
}

.bg-corner-gonet {
    /* background-image: url('/assets/images/corner1.svg'), url('/assets/images/corner2.svg');*/
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: 56px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-client {
    min-height: 300px;
    border-radius: 7px;
}

.page-clients #mainMenu,
.page-privacy-policy #mainMenu,
.page-press #mainMenu,
.page-internal-communication #mainMenu {
    height: 100px;
}

.page-clients #mainMenu .bg-navbar1,
.page-privacy-policy #mainMenu .bg-navbar1,
.page-press #mainMenu .bg-navbar1,
.page-internal-communication #mainMenu .bg-navbar1 {
    // background: linear-gradient(to left, rgb(255, 114, 42), rgb(149, 28, 255)) !important;
    background: linear-gradient(to left, rgb(0, 0, 0), rgb(0, 0, 0)) !important;
}

.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.hero {
    position: relative;
}

.hero.hero--video {
    height: 40vh;
    margin-top: 80px;
}

.hero .hero__video {
    height: 100%;
    -o-object-fit: cover;
    font-family: "object-fit:cover;object-position:center top";
    object-fit: cover;
    -o-object-position: center top;
    object-position: center top;
    position: absolute;
    width: 100%;
    z-index: -1;
    z-index: var(--z-index-bg);
}

.hero .hero__backdrop {
    background-color: #060302;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 100;
    z-index: var(--z-index-1);
}

.hero .hero__backdrop:before {
    background-image: -webkit-gradient(180deg, #262A2F00 0%, #262A2F 100%);
    background-image: linear-gradient(180deg, #262A2F00 0%, #262A2F 100%);
    content: "";
    height: 22vh;
    left: 0;
    position: absolute;
    top: -22vh;
    width: 100%;
}

.content-arow {
    position: absolute;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    z-index: 2;
}

.ico-arrow {
    width: 32px;
    height: 32px;
    /*background-color: rgb(30, 67, 1708, 0.5);*/
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 50%;
}

.ico-arrow:hover {
    /* background-color: #FF722A !important;*/
    background-color: #3B3E48 !important;
}

.ico-arrow img {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 13px;
}

.card-service {
    padding-left: 15px;
    padding-right: 15px;
}

hr {
    margin-top: 0;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    background: white;
}

.card-service p {
    font-weight: 300;
}

.imgrounded {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.page-privacy-policy #buttonsBottom,
.page-press #buttonsBottom,
.page-internal-communication #buttonsBottom {
    display: none;
}

.vueperslides__arrows--outside .vueperslides__arrow--prev:hover,
.vueperslides__arrows--outside .vueperslides__arrow--next:hover {
    /*background-color: #FF722A !important;*/
    background-color: #3B3E48 !important;
}

.swal2-popup .swal2-title {
    display: block;
    position: relative;
    max-width: 100%;
    margin: 0 0 .4em;
    padding: 0;
    color: #262A2F;
    font-size: 1.875em;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}

.swal2-popup .swal2-content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: #262A2F;
    font-size: 1.125em;
    font-weight: 300;
    line-height: normal;
    z-index: 1;
    word-wrap: break-word;
}

.swal2-popup .swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #1E43B2;
    color: #fff;
    font-size: 1.0625em;
}

.swal2-popup .swal2-styled.swal2-confirm:hover {
    background-color: #FF722A;
}

.vs__search,
.vs__search:focus {
    color: #6e757c;
}

.el-autocomplete {
    width: 100%;
}

.el-input input {
    width: 100%;
    border: 0px solid #EFEFF4;
    border-bottom: 1px solid #61C539;
    background-color: #EFEFF4;
    min-height: 38px;
    font-family: 'Montserrat' !important;
    font-size: 14px;
    margin-bottom: 10px;
}

.input-icon span {
    position: absolute;
    font-size: 20px;
    margin-top: 9px;
    margin-left: 5px;
}

.input-icon input {
    padding-left: 28px;
}

input::placeholder {
    font-family: 'Montserrat' !important;
}

input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: 'Montserrat' !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    font-family: 'Montserrat' !important;
}

input:-ms-input-placeholder {
    /* IE 10+ */
    font-family: 'Montserrat' !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    font-family: 'Montserrat' !important;
}

@media (min-width: 576px) {
    #industries .container {
        max-width: 540px;
    }
    .hero.hero--video {
        height: 50vh;
    }
}

@media (min-width: 768px) {
    h2 {
        font-size: 32px;
    }
    .logogonet {
        width: 125px;
    }
    .w-md-100 {
        width: 100% !important;
    }
    .w-md-50 {
        width: 50% !important;
    }
    .w-md-75 {
        width: 75% !important;
    }
    #industries .container {
        max-width: 720px;
    }
    .hero.hero--video {
        height: 75vh;
    }
    .page-our-services-main .col-md-6,
    .page-technologies-main .col-md-6,
    .page-industries-main .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 960px) {
    .logogonet {
        /*width: 175px;*/
        width: 135px;
    }
    #industries .container {
        max-width: 100%;
    }
    #industries .container p {
        line-height: 16px;
    }
    .hero.hero--video {
        height: 95vh;
    }
}

@media (min-width: 1140px) {
    #industries .container {
        max-width: 1140px;
    }
    #industries .container p {
        line-height: 20px;
    }
    .hero.hero--video {
        height: 100vh;
    }
}

@media (min-width: 1904px) {
    .container {
        max-width: 1185px;
    }
}

.flake {
    z-index: 99999999;
}