.bg-gonet-image {
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
    background-color: rgba(94, 127, 177, 0.5);
    height: 350px;
}

.bg-header,
.bg-video {
    background: transparent linear-gradient(113deg, #E8FBF5 0%, #D6ECF8 100%) 0% 0% no-repeat padding-box;
    background-color: #1765b8 !important;
    opacity: 0.8;
}


/*.bg-video div,*/

.bg-header img,
.bg-header p,
.bg-video img,
.bg-video p {
    opacity: 1;
}

img.gonet-video-icon,
.bg-video img {
    cursor: pointer;
}

.gonet-video-icon {
    width: 100px;
    height: 100px;
}

.gonet-section-icon {
    width: 70px;
    height: 70px;
}

.gonet-section-image {
    width: 80px;
    height: 60px;
}

.border-info {
    border: 1px solid #5E7FB133;
    border-radius: 10px;
}

.circle-decoration {
    top: 1443px;
    left: 969px;
    width: 20px;
    height: 20px;
}

.circle-decoration.dec-1 {
    background: #164080 0% 0% no-repeat padding-box;
}

.circle-decoration.dec-2 {
    background: #5E7FB1 0% 0% no-repeat padding-box;
}

.circle-decoration.dec-3 {
    background: #C7C7C7 0% 0% no-repeat padding-box;
}

.videoPlayer1 {
    left: 0%;
    top: 0%;
    border-radius: 0px;
    width: 100%;
    background: transparent linear-gradient(113deg, #E8FBF5 0%, #D6ECF8 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    /*height: 50vh;*/
    height: 31vh;
}

.videoPlayer1 iframe {
    width: 100% !important;
    height: 100% !important;
}

.container-video-desc,
.container-info-desc {
    position: absolute;
}

#player {
    max-width: 100% !important;
}

.slider-solutions {
    color: white;
}

.slidesection .vueperslides {
    position: relative;
    background-color: rgb(38, 42, 47, 0.8);
    color: white;
    border-radius: 10px;
}

.slidesection .vueperslides__inner {
    height: 300px;
}

.slidesection .vueperslides__parallax-wrapper {
    height: 100%;
}

.vueperslides__bullet .default {
    background-color: #C7C7C7 !important;
    border: 2px solid white !important;
    transition: 0.3s !important;
    width: 18px !important;
    height: 18px !important;
}

.vueperslides__bullet--active .default {
    background-color: #262A2F !important;
    border: 2px solid white !important;
}

.vueperslides__bullet span {
    display: block;
    color: #fff;
    font-size: 10px;
    opacity: 0.8;
}


/*// Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    .videoPlayer1 {
        height: 44vh;
    }
}


/*// Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    .videoPlayer1 {
        height: 56vh;
    }
}


/*// Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}


/*// Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}