<template>
    <div class="w-100">
        
        <section class="p-5 bg-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                       <h1 class="text-center w-100 w-md-50">
                               This is the profile
                            </h1>
                     
                        
                    </div>
                </div>
            </div>
        </section>
        <buttonsBottom />
    </div>
</template>
<script type="text/javascript">
import MailRequest from '../../request/MailRequest.js';
import buttonsBottom from "../../components/buttonsBottom";
import alertsMixin from "../../library/mixins/alertsMixin.js";
import { VueperSlides, VueperSlide } from "vueperslides";
import "vueperslides/dist/vueperslides.css";
import { defaultCountries } from '../../library/ContactConstants.js';
import Constants from '../../library/ConstantsLibrary.js';

export default {
  name: "talect",
  components: {
    VueperSlides,
    VueperSlide,
    buttonsBottom,
  },
  mixins: [alertsMixin],
  metaInfo: function () {
		let title = this.i18nMeta("title");
		let description = this.i18nMeta("description");
		let lang = this.i18nMeta("lang");
		let locate = this.i18nMeta("locate");
		let type = "article";
    	var url = location.protocol + '//' + location.host + this.$route.path;
		return {
		title: title, //i18nMeta('title'),
		description: description, //i18nMeta('description'),
		locate: locate,
		type, type,
      url: url,
		htmlAttrs: {
			lang: lang,
			amp: true,
		},
		link: [
			{ rel: 'canonical', href: url}
		],
		meta: [
			{ name: 'robots', content: 'index, follow' },
			{ name: 'description', content: description },
			{ property: 'og:locate', content: locate, vmid: 'og:locate'},
        	{ property: 'og:type', content: type, vmid: 'og:type'},
        	{ property: 'og:site_name', content: 'gonet', vmid: 'og:site_name'},
        	{ property: 'og:url', content: url, vmid: 'og:url'},
        	{ property: 'og:title', content: title, vmid: 'og:title'},
        	{ property: 'og:description', content: description, vmid: 'og:description'}
		],
		};
	},
  created: function () {},
  destroyed: function () {},
  computed: {
    playing() {
      return !this.paused;
    },
    isValidToSend: function () {
			// return false;
			return this.compModel.name != ""
				&& this.compModel.phone != ""
				&& this.compModel.email != ""
				&& this.compModel.website != ""
        && this.compModel.country != ""
        && this.compModel.file != undefined
				&& this.compModel.file != ""
				&& this.compModel.message != "";
		},
  },
  data: function () {
    return {
      metaTitle: "",
      metaDescription: "",
      i18nPage: "talent",
      emailRegex: Constants.emailRegex,
      // i18nPage: "defaultInfo",
      countries: [],
      trySendCv: false,
      compModel: {
          name: "",
          phone: "",
          email: "",
          website: "",
          country: "",
          message: "",
          file: undefined,
      },
      compModelJob: {
        name: "",
        email: "",
      },
      running: false,
      videoWidth: 0,
      videoElement: null,
      paused: null,
      isValidFile: true,
      sendingForm: false,
      sendingFormJob: false,
      vacationKey: 0,
      jobKey: 0,
      testimonials: [
        {
          img: require("@/assets/images/talent/alex.jpg"),
          name:this.$t("talent.message.testimoniales.t1.name"),
          position:this.$t("talent.message.testimoniales.t1.position"),
          text:this.$t("talent.message.testimoniales.t1.text"),
        },
        {
          img: require("@/assets/images/talent/carlos.jpg"),
          name:this.$t("talent.message.testimoniales.t2.name"),
          position:this.$t("talent.message.testimoniales.t2.position"),
          text:this.$t("talent.message.testimoniales.t2.text"),
        },
        {
          img: require("@/assets/images/talent/mario.jpg"),
          name:this.$t("talent.message.testimoniales.t3.name"),
          position:this.$t("talent.message.testimoniales.t3.position"),
          text:this.$t("talent.message.testimoniales.t3.text"),
        },
        {
          img: require("@/assets/images/talent/bere.jpg"),
          name:this.$t("talent.message.testimoniales.t4.name"),
          position:this.$t("talent.message.testimoniales.t4.position"),
          text:this.$t("talent.message.testimoniales.t4.text"),
        },
        {
          img: require("@/assets/images/talent/florian.jpg"),
          name:this.$t("talent.message.testimoniales.t5.name"),
          position:this.$t("talent.message.testimoniales.t5.position"),
          text:this.$t("talent.message.testimoniales.t5.text"),
        },
        {
          img: require("@/assets/images/talent/nancy.jpg"),
          name:this.$t("talent.message.testimoniales.t6.name"),
          position:this.$t("talent.message.testimoniales.t6.position"),
          text:this.$t("talent.message.testimoniales.t6.text"),
        },
      ],
      partners: [
        {
          img: require("@/assets/images/talent/partners/rappi.svg"),
        },
        {
          img: require("@/assets/images/talent/partners/aws.svg"),
        },
        {
          img: require("@/assets/images/talent/partners/bbva.svg"),
        },
        {
          img: require("@/assets/images/talent/partners/microsoft.svg"),
        },
        {
          img: require("@/assets/images/talent/partners/starbucks.svg"),
        },
        {
          img: require("@/assets/images/talent/partners/apple.svg"),
        },
      ],
    };
  },
  beforeMount: function () {},
  mounted: function () {
    let routeData = this.getRouteInfo();
    // console.log(routeData);
    if (
      routeData &&
      routeData.routeItem &&
      routeData.routeItem.hasOwnProperty("meta") &&
      routeData.routeItem.meta.hasOwnProperty("i18nPage")
    ) {
      this.i18nPage = routeData.routeItem.meta.i18nPage;
      this.$forceUpdate();
    }
    this.makeSelects();
  },
 
  methods: {
    scrollToElement() {
			const el = this.$el.getElementsByClassName('ico-arrow')[0];
			if (el) {
			el.scrollIntoView({behavior: 'smooth'});
			}
		},
    i18nMeta(message) {
      return this.$t(this.i18nPage + ".meta." + message);
    },
    i18nInfo(message) {
      return this.$t(this.i18nPage + ".info." + message);
    },
    i18nIntro(message) {
      return this.$t(this.i18nPage + ".intro." + message);
    },
    i18nVideo(message) {
      return this.$t(this.i18nPage + ".video." + message);
    },
    i18nImage(message) {
      return this.$t(this.i18nPage + ".image." + message);
    },
    i18nIcons(message) {
      let result = this.$t(this.i18nPage + ".icons." + message);
      return result;
    },
    i18nMessages(message) {
      return this.$t(this.i18nPage + ".message." + message);
    },
    i18nBg(bg) {
      return this.$t(this.i18nPage + ".bg." + bg);
    },
    doIsValidFile() {
      this.isValidFile = true;
    },
    alertInvalidFile() {
      this.isValidFile = false;
      this.FailAlert(this.i18nMessages('invalidFileTitle'), this.i18nMessages('invalidFileDesc'));
    },
    updatePaused(event) {
      this.videoElement = event.target;
      this.paused = event.target.paused;
    },
    play() {
      this.videoElement.play();
    },
    pause() {
      this.videoElement.pause();
    },
    makeSelects() {
			this.countries = []
			defaultCountries.forEach((item) => {
				this.countries.push({
					id: item.id,
					value: this.$t("countries." + item.value)
				});
			});
		},
    async validateForm() {
      var name = await this.$validator.validate("name");
      var phone = await this.$validator.validate("phone");
      var email = await this.$validator.validate("email");
      var website = await this.$validator.validate("website");
      var country = await this.$validator.validate("countries");
      var message = await this.$validator.validate("message");

      this.isValidFile = this.isValidFile && this.compModel.file !== undefined;

      return name
          && phone
          && email
          && website
          && country
          && message
          && this.isValidFile;
    },
    async sendMail(event) {
			if (event) {
				event.preventDefault();
				event.stopPropagation();
			}

      var isValid = await this.validateForm();
      if (!isValid) {
        if (!this.isValidFile) {
          this.alertInvalidFile();
        }
        return;
      }
      let that = this;
      this.sendingForm = true;

		MailRequest.sendMail("saveForm", "talent", "3", this.compModel)
		.then(response => {
			console.log('Mail response', response);
            this.SuccessAlert(this.$t("interface.thanksName").split('{name}').join(this.compModel.name), this.i18nMessages('success'), undefined, function () {
                that.sendingForm = false;
                that.compModel.name = "";
                that.compModel.phone = "";
                that.compModel.email = "";
                that.compModel.website = "";
                that.compModel.country = "";
                that.compModel.message = "";
                that.compModel.file = "";
                that.$refs.fileInput.value = null;
                that.vacationKey+=1;
            });
		});
	},
    async validateFormJob() {
      var name = await this.$validator.validate("jabName");
      var email = await this.$validator.validate("jobEmail");

      return name
          && email;
    },
    async sendMailJob(event) {
      if (event) {
        event.preventDefault();
        event.stopPropagation();
      }

      var isValid = await this.validateFormJob();
      if (!isValid) {
        return;
      }
      let that = this;
      this.sendingFormJob = true;

      MailRequest.sendMail("saveForm", "talentjob", "5", this.compModelJob)
      .then(response => {
        console.log('Mail response', response);
        this.SuccessAlert(this.i18nMessages('successJobTitle'), this.i18nMessages('successJob'), undefined, function () {
          that.sendingFormJob = false;
          that.compModelJob.name = "";
          that.compModelJob.email = "";
          that.jobKey+=1;
        });
      });
    }
  },
};
</script>
<style type="text/css">
#vacation-form .rounded {
    border: 1px solid #5E7FB133;
}
.imagetalent{
  width: 100%;
  border-radius: 10px;
}
.bg-testimonials{
  /*background: transparent linear-gradient(289deg, #00C5D6 0%, #28268C 100%) 0% 0% no-repeat padding-box;*/
  background: transparent linear-gradient(288deg, #3B3E48 0%, #657786 100%) 0% 0% no-repeat padding-box;
}
.slide-testimonials{
	height: 420px;
}
.slide-testimonials .row{
	height: 100%;
}

.descriptiontestimonial{
      margin-top: -50px;
	background-color: #fff;
	 z-index: -1;
   	height: 100%;
}
.circletestimonial{
width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
	    position: inherit;
    z-index: 2;
	display: block;
}
h3.nametestimonial{
	font-size: 26px !important;
  font-weight: 300;
}
h4.position{
	font-size: 16px !important;
  font-weight: 300;
}
.socialstestimonial a{
  color: #262A2F;
}
@media (max-width: 959px){
	.imagetestimonial{
		display: none;
	}
h3.nametestimonial{
	font-size: 20px !important;
}
.slide-leads{
	height: 450px;
}
}
</style>