<template>
  <div class="w-100">
   
    <section class="pt-5 pb-5 pl-2 pr-2">
      <div class="container">
        <div class="row mx-0">
          <div class="col-12 col-md-12">
            <h1 v-html="$t('privacypolicy.title')"></h1>
           <div v-html="$t('privacypolicy.content')"></div>
          </div>
          
        </div>
      </div>
    </section>
    
    
    <buttonsBottom />
  </div>
</template>
<script type="text/javascript">
import { TweenMax, TimelineMax } from 'gsap';
import 'ScrollToPlugin';
import animations from '../../locales/animations/animations.js';
import buttonsBottom from "../../components/buttonsBottom";
import CommonMixin from "../../library/mixins/commonMixin.js";
import { VueperSlides, VueperSlide } from "vueperslides";
import "vueperslides/dist/vueperslides.css";

export default {
  mixins: [CommonMixin],
  components: {
    VueperSlides,
    VueperSlide,
    buttonsBottom,
  },
  metaInfo: function () {
		let title = this.i18nMeta("title");
		let description = this.i18nMeta("description");
		let lang = this.i18nMeta("lang");
		let locate = this.i18nMeta("locate");
		let type = "article";
    	var url = location.protocol + '//' + location.host + this.$route.path;
		return {
		title: title, //i18nMeta('title'),
		description: description, //i18nMeta('description'),
		locate: locate,
		type, type,
      url: url,
		htmlAttrs: {
			lang: lang,
			amp: true,
		},
		link: [
			{ rel: 'canonical', href: url}
		],
		meta: [
			{ name: 'robots', content: 'index, follow' },
			{ name: 'description', content: description },
			{ property: 'og:locate', content: locate, vmid: 'og:locate'},
        	{ property: 'og:type', content: type, vmid: 'og:type'},
        	{ property: 'og:site_name', content: 'gonet', vmid: 'og:site_name'},
        	{ property: 'og:url', content: url, vmid: 'og:url'},
        	{ property: 'og:title', content: title, vmid: 'og:title'},
        	{ property: 'og:description', content: description, vmid: 'og:description'}
		],
		};
	},
  created: function() {
		window.addEventListener("resize", this.resizeEventHandler);
	},
	destroyed: function() {
		window.removeEventListener("resize", this.resizeEventHandler);
	},
  computed: {
    playing() {
      return !this.paused;
    },
  },
  data: function () {
    return {
      metaTitle: "",
      metaDescription: "",
      i18nPage: "privacypolicy",
      // i18nPage: "defaultInfo",
      running: false,
      videoWidth: 0,
      videoElement: null,
      paused: null,
      leads: [
        {
          
          img: require("@/assets/images/about/leads/MarioSaldivar.png"),
          name:this.$t("aboutUs.message.lead1.name"),
          position:this.$t("aboutUs.message.lead1.position"),
          text:this.$t("aboutUs.message.lead1.text"),
        },
        {
          img: require("@/assets/images/about/leads/JoseBernabe.png"),
          name:this.$t("aboutUs.message.lead2.name"),
          position:this.$t("aboutUs.message.lead2.position"),
          text:this.$t("aboutUs.message.lead2.text")
        },
        {
          img: require("@/assets/images/about/leads/AlejandroDeLaMaza.png"),
		 
          name:this.$t("aboutUs.message.lead3.name"),
          position:this.$t("aboutUs.message.lead3.position"),
          text:this.$t("aboutUs.message.lead3.text")
        
        },
        {
          img: require("@/assets/images/about/leads/GerardoVillareal.png"),
        
          name:this.$t("aboutUs.message.lead4.name"),
          position:this.$t("aboutUs.message.lead4.position"),
          text:this.$t("aboutUs.message.lead4.text")
        },
        {
          img: require("@/assets/images/about/leads/AlejandroGuzman.png"),
          name:this.$t("aboutUs.message.lead5.name"),
          position:this.$t("aboutUs.message.lead5.position"),
          text:this.$t("aboutUs.message.lead5.text")
        },
      ],
      partners: [
        {
          img: require("@/assets/images/about/oracle.svg"),
        },
        {
          img: require("@/assets/images/about/microsoft.svg"),
        },
        {
          img: require("@/assets/images/about/apple.svg"),
        },
        {
          img: require("@/assets/images/about/ixia.svg"),
        },
        {
          img: require("@/assets/images/about/airwatch.svg"),
        },
      ],
    };
  },
  beforeMount: function () {},
  mounted: function() {
		let routeData = this.getRouteInfo();
		// console.log(routeData);
		
		if (routeData && routeData.routeItem && routeData.routeItem.hasOwnProperty('meta') && routeData.routeItem.meta.hasOwnProperty('i18nPage')) {
			this.i18nPage = routeData.routeItem.meta.i18nPage;
		}
		this.$forceUpdate();
		this.resizeEventHandler();
    this.anima();
	},
  methods: {
    scrollToElement() {
			const el = this.$el.getElementsByClassName('ico-arrow')[0];
			if (el) {
			el.scrollIntoView({behavior: 'smooth'});
			}
		},
    i18nMeta(message) {
      return this.$t(this.i18nPage + ".meta." + message);
    },
    i18nInfo(message) {
      return this.$t(this.i18nPage + ".info." + message);
    },
    i18nVideo(message) {
      return this.$t(this.i18nPage + ".video." + message);
    },
    i18nImage(message) {
      return this.$t(this.i18nPage + ".image." + message);
    },
    i18nIcons(message) {
      let result = this.$t(this.i18nPage + ".icons." + message);
      return result;
    },
    i18nMessages(message) {
      return this.$t(this.i18nPage + ".message." + message);
    },
    i18nBg(bg) {
      return this.$t(this.i18nPage + ".bg." + bg);
    },
    resizeEventHandler() {
			// this.videoWidth = this.$refs.videoPlayer1.clientWidth;
			let elements = document.getElementsByClassName("videoPlayer1");
			if (elements.length > 0) {
				let that = this;
				this.videoWidth = elements[0].clientWidth;
				// setTimeout(() => {
				// 	that.$refs.videoPlayer1.update(that.i18nVideo('video-id'));
				// 	that.$forceUpdate();
				// }, 50);
				this.$refs.videoPlayer1.update(this.i18nVideo('video-id'));
				this.$forceUpdate();
				// (100 / (elements[0].offsetWidth > 0 ? elements[0].offsetWidth : 500))
			}
		},
    clickPlay() {
			this.$refs.videoPlayer1.play();
			// this.playerRunning = !this.playerRunning;
			this.running = true;
		},
		clickPause() {
			// this.$refs.videoPlayer1.pause();
			// this.playerRunning = !this.playerRunning;
			this.running = false;
		},
		resizeVimeo (event, data, player) {
			console.log(event, data, player);
		},
		updatePaused(event) {
			this.videoElement = event.target;
			this.paused = event.target.paused;
		},
		play() {
			this.videoElement.play();
		},
		pause() {
			this.videoElement.pause();
		},
    anima (){

    const aboutScene= []

    aboutScene[0] = this.$scrollmagic.scene({
          triggerElement: '#cardsDeck1',
          duration: '50%',
          triggerHook: 0.5
        }).setTween([animations.scaleElements('#cardsDeck1_c',3)])

        this.$scrollmagic.addScene([aboutScene])
        }
  },
};
</script>
<style type="text/css">
.slide-leads{
	height: 420px;
}
.slide-leads .row{
	height: 100%;
}


.circlelead{
display: none;
}
.descriptionlead{
	background-color: #dedfe0;
	 z-index: -1;
   	height: 100%;
}
h3.namelead{
	font-size: 32px !important;
}
h4.position{
	font-size: 16px !important;
}
.socialslead a{
  color: #262A2F;
}
@media (max-width: 959px){
	.imagelead{
		display: none;
	}
	.descriptionlead {
    margin-top: -35px;
}
.circlelead{
width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
	    position: inherit;
    z-index: 2;
	display: block;
}
h3.namelead{
	font-size: 20px !important;
}
.slide-leads{
	height: 450px;
}
}
</style>