<template>
	<div class="w-100 solutions-section">
		<section>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center align-content-center col-12 p-0">
			<div class="col-12">
					<h1>Reset your password</h1>
			<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Reset</button>
</form>
			</div>

		</div>
	</div>

	<div class="container">
		<div class="row d-flex align-items-center justify-content-center align-content-center col-12 p-0">
			<div class="col-12">
				<a @click="toPath($event,'/sign-up')" href="/sign-up">Registration</a> Or
				<a @click="toPath($event,'/sign-in')" href="/sign-in">Sign In</a>

			</div>

	</div>
	</div>
</section>
	</div>
</template>
<script type="text/javascript">
import { TweenMax, TimelineMax } from 'gsap';
import 'ScrollToPlugin';
import animations from '../../locales/animations/animations.js';
import CommonMixin from '../../library/mixins/commonMixin.js';
import buttonsBottom from '../../components/buttonsBottom';
import { VueperSlides, VueperSlide } from 'vueperslides';
import 'vueperslides/dist/vueperslides.css';
export default {
	mixins: [CommonMixin],
	components:{
     	VueperSlides, 
     	VueperSlide,
		buttonsBottom
	},
	metaInfo: function () {
		let title = this.i18nMeta("title");
		let description = this.i18nMeta("description");
		let lang = this.i18nMeta("lang");
		let locate = this.i18nMeta("locate");
		let type = "article";
    	var url = location.protocol + '//' + location.host + this.$route.path;
		return {
		title: title, //i18nMeta('title'),
		description: description, //i18nMeta('description'),
		locate: locate,
		type, type,
      url: url,
		htmlAttrs: {
			lang: lang,
			amp: true,
		},
		link: [
			{ rel: 'canonical', href: url}
		],
		meta: [
			{ name: 'robots', content: 'index, follow' },
			{ name: 'description', content: description },
			{ property: 'og:locate', content: locate, vmid: 'og:locate'},
        	{ property: 'og:type', content: type, vmid: 'og:type'},
        	{ property: 'og:site_name', content: 'gonet', vmid: 'og:site_name'},
        	{ property: 'og:url', content: url, vmid: 'og:url'},
        	{ property: 'og:title', content: title, vmid: 'og:title'},
        	{ property: 'og:description', content: description, vmid: 'og:description'}
		],
		};
	},
	created: function() {
		window.addEventListener("resize", this.resizeEventHandler);
	},
	destroyed: function() {
		window.removeEventListener("resize", this.resizeEventHandler);
	},
	computed: {
		playing() {
			return !this.paused; 
		},
	},
	data: function() {
		return {
			metaTitle: "",
			metaDescription: "",
			i18nPage: "industries",
			// i18nPage: "defaultInfo",
			running: false,
			videoWidth: 0,
			videoElement: null,
			paused: null,
			slider1:[
				{
					
					title:this.$t("industries.message.section2.title1"),
					text:this.$t("industries.message.section2.text1")
				},
				{
					title:this.$t("industries.message.section2.title2"),
					text:this.$t("industries.message.section2.text2")
				},
				{
					title:this.$t("industries.message.section2.title3"),
					text:this.$t("industries.message.section2.text3")
				},
			],
			slider2:[
				{
					title:this.$t("industries.message.section4.title1"),
					text:this.$t("industries.message.section4.text1")
				},
				{
					title:this.$t("industries.message.section4.title2"),
					text:this.$t("industries.message.section4.text2")
				},
				{
					title:this.$t("industries.message.section4.title3"),
					text:this.$t("industries.message.section4.text3")
				},
			],
			slider3:[
				{
					title:this.$t("industries.message.section6.title1"),
					text:this.$t("industries.message.section6.text1")
				},
				{
					title:this.$t("industries.message.section6.title2"),
					text:this.$t("industries.message.section6.text2")
				},
				{
					title:this.$t("industries.message.section6.title3"),
					text:this.$t("industries.message.section6.text3")
				},
			],
			slider4:[
				{
					title:this.$t("ourServices.message.section8.title1"),
					text:this.$t("ourServices.message.section8.text1")
				},
				{
					title:this.$t("ourServices.message.section8.title2"),
					text:this.$t("ourServices.message.section8.text2")
				},
				{
					title:this.$t("ourServices.message.section8.title3"),
					text:this.$t("ourServices.message.section8.text3")
				},
			]
		}
		
	},
	beforeMount: function () {
	},
	mounted: function() {
	
		let section = window.location.search.substring(1); 
		let params = new URLSearchParams(section);
		let obtener = params.get("section");
		if(obtener == null){
		}else{
			this.scrollToSection(obtener);
		}
		let routeData = this.getRouteInfo();
		// console.log(routeData);
		
		if (routeData && routeData.routeItem && routeData.routeItem.hasOwnProperty('meta') && routeData.routeItem.meta.hasOwnProperty('i18nPage')) {
			this.i18nPage = routeData.routeItem.meta.i18nPage;
		}
		this.$forceUpdate();
		this.resizeEventHandler();
		this.anima();
	},
	methods: {

		scrollToElement() {
			const el = this.$el.getElementsByClassName('ico-arrow')[0];
			if (el) {
			el.scrollIntoView({behavior: 'smooth'});
			}
		},
		scrollToSection(obtener) {
			const el = document.getElementById(obtener);
      		el.scrollIntoView({behavior: "smooth"});
		},
		i18nMeta(message) {
			return this.$t(this.i18nPage + ".meta." + message);
		},
		i18nVideo(message) {
			return this.$t(this.i18nPage + ".video." + message);
		},
		i18nImage(message) {
			return this.$t(this.i18nPage + ".image." + message);
		},
		i18nIcons(message) {
			let result = this.$t(this.i18nPage + ".icons." + message);
			return result;
		},
		i18nMessages(message) {
			return this.$t(this.i18nPage + ".message." + message);
		},
		resizeEventHandler() {
			// this.videoWidth = this.$refs.videoPlayer1.clientWidth;
			let elements = document.getElementsByClassName("videoPlayer1");
			if (elements.length > 0) {
				let that = this;
				this.videoWidth = elements[0].clientWidth;
				// setTimeout(() => {
				// 	that.$refs.videoPlayer1.update(that.i18nVideo('video-id'));
				// 	that.$forceUpdate();
				// }, 50);
				this.$refs.videoPlayer1.update(this.i18nVideo('video-id'));
				this.$forceUpdate();
				// (100 / (elements[0].offsetWidth > 0 ? elements[0].offsetWidth : 500))
			}
		},
		clickPlay() {
			this.$refs.videoPlayer1.play();
			// this.playerRunning = !this.playerRunning;
			this.running = true;
		},
		clickPause() {
			// this.$refs.videoPlayer1.pause();
			// this.playerRunning = !this.playerRunning;
			this.running = false;
		},
		resizeVimeo (event, data, player) {
			console.log(event, data, player);
		},
		updatePaused(event) {
			this.videoElement = event.target;
			this.paused = event.target.paused;
		},
		play() {
			this.videoElement.play();
		},
		pause() {
			this.videoElement.pause();
		},
		 mouseOver(e){
		TweenMax.to(e.target,0.5,{scale:1.1})
		},
		mouseOut(e){
		TweenMax.to(e.target,0.5,{scale:1})
		},
		anima (){
    const industriesScene= []

    industriesScene[0] = this.$scrollmagic.scene({
          triggerElement: '#cardsDeck1',
          duration: '20%',
          triggerHook: 0.8
        }).setTween([animations.downUp('.cardsDeck1_c',0.8)])

   industriesScene[1] = this.$scrollmagic.scene({
          triggerElement: '#aeronauticsSection',
          duration: '20%',
          triggerHook: 0.8
        }).setTween([animations.downUp('#aeronauticsSection',0.8)])

    industriesScene[2] = this.$scrollmagic.scene({
          triggerElement: '#fintechSection',
          duration: '20%',
          triggerHook: 0.8
        }).setTween([animations.downUp('#fintechSection',0.8)])

     industriesScene[3] = this.$scrollmagic.scene({
          triggerElement: '#bankingSection',
          duration: '20%',
          triggerHook: 0.8
        }).setTween([animations.downUp('#bankingSection',0.8)])

        

    industriesScene[4] = this.$scrollmagic.scene({
          triggerElement: '#retailSection',
          duration: '20%',
          triggerHook: 0.8
        }).setTween([animations.downUp('#retailSection',0.8)])

        this.$scrollmagic.addScene([industriesScene])
        }
	},
}
</script>
<style type="text/css">
</style>