@charset "UTF-8";
@font-face {
    font-family: "shopperposv20";
    src: url("fonts/shopperposv20.eot");
    src: url("fonts/shopperposv20.eot?#iefix") format("embedded-opentype"), url("fonts/shopperposv20.woff") format("woff"), url("fonts/shopperposv20.ttf") format("truetype"), url("fonts/shopperposv20.svg#shopperposv20") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "shopperposv20" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="iconpos-"]:before,
[class*=" iconpos-"]:before {
    font-family: "shopperposv20" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconpos-dislike:before {
    content: "\62";
}

.iconpos-like:before {
    content: "\61";
}

.iconpos-good:before {
    content: "\63";
}

.iconpos-error:before {
    content: "\64";
}

.iconpos-print:before {
    content: "\65";
}

.iconpos-notas:before {
    content: "\66";
}

.iconpos-help:before {
    content: "\67";
}

.iconpos-phone:before {
    content: "\68";
}

.iconpos-salir:before {
    content: "\69";
}

.iconpos-grupo-359:before {
    content: "\6a";
}

.iconpos-mail:before {
    content: "\6b";
}

.iconpos-red-mundial-1:before {
    content: "\6c";
}

.iconpos-calendar:before {
    content: "\6d";
}

.iconpos-order:before {
    content: "\6e";
}

.iconpos-reportes:before {
    content: "\6f";
}

.iconpos-delivery:before {
    content: "\70";
}

.iconpos-arrow:before {
    content: "\71";
}