<!DOCTYPE html>
<html lang="es" class="w-100 h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Examen</title>
    <meta property="og:image" content="<%= BASE_URL %>img-social.jpg" />
    <meta data-vue-meta="1" name="description" content="Examen">

    <style>

    </style>
</head>

<body class="w-100 h-100">

    <!-- End Google Tag Manager (noscript) -->
    <div id="app" class="w-100 h-100"></div>
    <!-- built files will be auto injected -->

</body>

</html>