<template>
    <div class="container w-100 h-100">
        <div class="row w-100 h-100 d-flex align-items-center justify-content-center align-content-cente">
             <div class="col-6">
                    <img class="w-100" src='@/assets/images/img-error.svg'/>
                </div>
                <div class="col-6">
                    <h1 class="title-error">Very wow, so much error.</h1>
                    <p class="text-error">The URL you requested is not found, try again or go back.</p>
                    <p class="text-error">Such mistake.</p>
                    <button @click="goBack()" class="btn btn-primary">Go Back</button>
                </div>
        </div>
        
    </div>
</template>
<script>
export default {
  methods:{
      goBack(){
          this.$router.go(-1)
      }
  }  
}
</script>
<style scoped>

</style>