<template>
	<div class="w-100 h-100 MainContainer" id="MainContainer" ref="MainContainer">
		<div class="w-100 headergonet" id="headergonet" ref="headergonet">a</div>
		<div class="w-100">
			<router-view>
			</router-view>
		</div>
		<div class="w-100 footergonet" id="footergonet" ref="footergonet"></div>
	</div>
</template>
<script>

export default {
	name: "Lang",
	components: {
	},
	data: function () {
		return {
		};
	},
	mounted: function () {
	},
	computed: {
	},
	methods: {
	},
}
</script>
<style scoped>
</style>