<template>
	<div class="w-100 h-100 MainContainer" id="MainContainer" ref="MainContainer">
		<Header id="mainMenu"/>
		<div class="w-100" :key="componentKey" >
			<transition name="slide-fade" mode="out-in">
				<router-view>
				</router-view>
			</transition>
		</div>
		<Loader ref="loader" />
	</div>
</template>
<script>
import Loader from '../components/Loader.vue';
import i18n from '@/locales/i18n';
import Header from '../components/header'
import StartProject from '../components/startProject'
import CommonMixin from '../library/mixins/commonMixin.js';
import { TweenMax, TimelineMax } from 'gsap'
import 'ScrollToPlugin'

export default {
	mixins: [CommonMixin],
	name: "Main",
	components: {
		Header,
		StartProject,
		Loader,
	},
	beforeMount: function () {
		this.beforeMountLang();
	},
	data: function () {
		return {
			componentKey:0
		};
	},
	created: function() {
			
	},
	mounted: function () {
		
		const menuAnimation = this.$scrollmagic.scene({
			triggerElement: '#MainContainer',
			triggerHook: 0,
			duration: '50%'
		})
		.setTween(
			TweenMax.fromTo(
				"#headerMenu",
				1,
				{
					//background: "linear-gradient(to left,#05123C66,#05123C66)",
					background: "linear-gradient(to left,#000000,#000000)",
				},
				{
					//background: "linear-gradient(to left,#FF722A,#951CFF)",
					background: "linear-gradient(to left,#000000,#000000)",
				}
			)
		);
		// add scenes to window scrollmagic controller
		this.$scrollmagic.addScene([menuAnimation]);

	},
	computed: {},
	methods: {
		toPage(dirPath) {
			this.$router.push({
				path: "/" + i18n.locale + dirPath
			})
			var element = document.getElementById("MainContainer");
			var top = element.offsetTop;
			window.scrollTo(0, top);
			
		},
	},
};
</script>
<style type="text/css">

</style>
<style scoped>

.slide-fade-enter-active {
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  position: absolute;
}
.slide-fade-leave-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(-10px);
}
</style>
