<template>
    <section>
      <div  class="p-0 p-md-5" id='buttonsBottom'>
    </div>
    	<Footer ref="footergonet" />
    </section>
</template>

<script>
import Footer from '../components/footer'
import animations from '../locales/animations/animations.js'
export default {
	name: "buttons-Main",
	components: {
		Footer
	},
  mounted(){
    
    let animation = this.$scrollmagic.scene({
          triggerElement: '#startaProyect',
          duration: '50%',
          triggerHook: 1
        }).setTween(animations.scaleElement("#startaProyect",0.8))  

        
    let animation2 = this.$scrollmagic.scene({
          triggerElement: '#contactUs',
          duration: '50%',
          triggerHook: 0.9
        }).setTween(animations.scaleElement("#contactUs",0.9))  
         
        this.$scrollmagic.addScene([animation,animation2])
  },
  methods: {
    toPath(dirPath){
      this.$parent.$parent.toPage(dirPath)
    },
    openStartProject(event) {
      if (event) {
        event.preventDefault();
        event.stopPropagation();
      }

      this.$root.$emit('on-start-project');
    },
  },
}
</script>

<style>
.bar-gonet{
    width: 3px;
   /* background: linear-gradient(0deg, rgba(23,194,201,1) 50%, rgba(255,114,42,1) 50%);*/
    background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(101,119,42,1) 50%);
    height: 100%;
}

@media (max-width: 768px) { 
  .flex-sect{
    flex: 100% !important;
    padding: 3vw;
  }
 }
</style>