<template>
<div>
 <a @click="showCookies" href="javascript:void(0)" :style="{ color: object.linkColor }">{{ object.linkLabel }}</a>
    
      <button class="btn" @click="agreetoall">agree</button>
    </div>

</template>

<style lang="scss">

</style>

<script>
import VueCookies from 'vue-cookies';
Vue.use(VueCookies);

export default {
  name: "Cookie",
  data() {
    return {
      currentRequest: 0,
    };
  },

  mounted() {
    if (window.isPublished) {
      this.conversionTracking =
        this.$cookies.get("cookies:analytical") == "true" ||
        this.$cookies.get("cookies:analytical") === null;
      this.marketing =
        this.$cookies.get("cookies:marketing") == "true" ||
        this.$cookies.get("cookies:marketing") === null;
    }
  },
  apply() {
    if (window.isPublished) {
      this.$cookies.set("cookies:analytical", this.conversionTracking, "365d");
      this.$cookies.set("cookies:marketing", this.marketing, "365d");
      this.$cookies.set("cookies:accepted", true, "365d");
    }
    this.cancel();
  },
agreetoall() {
        if (window.isPublished) {
          // this.addCookie('cookies:functional', this.cookiesFunctional)
          this.addCookie('cookies:analytical', true)
          this.addCookie('cookies:marketing', true)
          this.addCookie('cookie:accepted', true)
        }
       location.reload(); // works but forces a page reload
        this.cancel()
      },
 // Let's Go or agree to choices made
      agree() {
        this.isHiddenCookies = true
        this.apply()
      },
  methods: {},
};
</script>