<template>
<footer>
<div class="container footer-gonet pt-4 pb-4 pt-md-0 pb-md-0">
<div class="row align-items-center">
     <div class="col-12 text-center">
         <p class="pt-2 pb-0 mb-0">{{$t('footer.copy.text')}}</p>
    </div>
   
</div>
</div>
</footer>
</template>
<script>
import animations from '../locales/animations/animations.js';
import i18n from '@/locales/i18n';

export default {
	name: "Footer",
	components: {
	},
  mounted(){
    
    
  },
  methods: {
    toPath(event,dirPath){
      //this.$parent.$parent.toPage(dirPath)
        if(event){
            event.preventDefault();
            event.stopPropagation();
        }
        this.$router.push({
				path: "/" + i18n.locale + dirPath
		});
        var element = document.getElementById("MainContainer");
			var top = element.offsetTop;
			window.scrollTo(0, top);
    },
  
  },
}
</script>
<style scoped>
footer{
    /*background: linear-gradient(to left, rgb(255, 114, 42), rgb(149, 28, 255));*/
    background: linear-gradient(to left, rgb(0, 0, 0), rgb(0, 0, 0));
    color: #fff;
    font-size: 14px;
}
.footer-gonet ul li a {
    color: #fff;
    text-decoration: none;
}
.footer-gonet a {
    color: #ffffff !important;
}
.footer-gonet ul {
    font-size: 1.0em;
    font-weight: 400;
    margin-bottom: 0px;
}
.footer-gonet ul {
    list-style: none;
    padding-left: 0;
}
.footer-gonet ul li {
    color: #fff;
    display: inline;
    margin-left: 1em;
}
.logo-gonet-footer{
    width: 106.36px
}
.img-slogan-footer {
    width: 200px;
}
</style>
