<template>
  <div>
    <b-navbar id="headerMenu" toggleable="lg" class="bg-navbar1" >
      <div class="container">
        <b-navbar-brand @click="toPath($event,'/')" href="/">
         
          <img class="logogonet" src="@/assets/images/logo.svg" />
          <!--</a> -->
        </b-navbar-brand>

        <b-navbar-toggle v-b-toggle.sidebar-backdrop target="nav-collapse"></b-navbar-toggle>

        <b-sidebar
          id="sidebar-backdrop"
          backdrop-variant="dark"
          backdrop
          right
          shadow
        >
          <div class="px-3 py-2">
            <b-form-group  label-for="backdrop-variant">
              <b-navbar-nav class="menuMobil">
                <h2 style='color:white;'>Menu</h2>
               
                <b-nav-item @click="toPath($event,'/clients')" href="/clients">{{
                  $t("header.menu3")
                }}</b-nav-item>
                
                <hr/>
                <b-nav-item @click="toPath($event,'/about-us')" href="/about-us">{{
                  $t("header.menu2")
                }}</b-nav-item>
                
                <hr/>
                <b-nav-item @click="toPath($event,'/talent')" href="/talent">{{
                  $t("header.menu4")
                }}</b-nav-item>
                
                <hr/>
                <b-nav-item href="https://blog.gonet.us/">{{
                  $t("header.menu5")
                }}</b-nav-item>
                <!--
                <b-nav-item @click="toPath($event,'/contact')" href="/contact">{{
                  $t("header.menu5")
                }}</b-nav-item>
                -->
                <hr/>
                <div class="text-center">  
                  <button class="btn btn-white"  @click="toPath($event,'/sign-in')" href="/sign-in">
                    {{$t("header.btn")}}
                  </button>
                </div>
                <div class="text-center mt-1">  
                  
            <button style="color:white;" @click="changeLocale(languages[0].language)"
              >EN</button>
            <span style="margin: 5px; color:white;">|</span>
            <button style="color:white;" @click="changeLocale(languages[1].language)"
              >ES</button>
                </div>

              </b-navbar-nav>
            </b-form-group>
          </div>
        </b-sidebar>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            

            <b-nav-item @click="toPath($event,'/sign-up')" href="/sign-up">{{
              $t("header.menu3")
            }}</b-nav-item>
            <b-nav-item @click="toPath($event,'/about-us')" href="/about-us">{{
              $t("header.menu2")
            }}</b-nav-item>
         
      
          </b-navbar-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <button class="btn btn-white"  @click="toPath($event,'/sign-in')" href="/sign-in">
              {{$t("header.btn")}}
            </button>
          
          </b-navbar-nav>
        </b-collapse>
      </div>
    </b-navbar>
  </div>
</template>
<style>


/*
a {
    pointer-events:none;
}*/
</style>


<script>
import i18n from '@/locales/i18n';


export default {
  name: "Header",
  data() {
    return {
      currentPath:'',
      languages: [
        {
          flag: "us",
          language: "en",
          title: "English",
        },
        {
          flag: "es",
          language: "es",
          title: "Español",
        },
      ],
    };
  },
  methods: {
   
    /*toPath(dirPath) {
      this.$parent.toPage(dirPath);
    },*/
    toPath(event,dirPath){
        if(event){
            event.preventDefault();
            event.stopPropagation();
        }
         this.$parent.toPage(dirPath);
       /* this.$router.push({
				path: "/" + i18n.locale + dirPath
		});*/
      var element = document.getElementById("MainContainer");
			var top = element.offsetTop;
			window.scrollTo(0, top);
    },
    openStartProject(event) {
      if (event) {
        event.preventDefault();
        event.stopPropagation();
      }
      this.$root.$emit("on-start-project");
    },
    changeLocale(event,locale) {
      if(event){
            event.preventDefault();
            event.stopPropagation();
        }
      i18n.locale = locale;
      this.$router.replace({
            ...this.$router.currentRoute,
            params: {locale:locale}
        });
      var element = document.getElementById("MainContainer");
			var top = element.offsetTop;
			window.scrollTo(0, top);
      this.$router.go();
    },
    changeNewLocate(locale){
        i18n.locale = locale;
        this.$router.replace({
				path: "/" + locale    
		    });
        var element = document.getElementById("MainContainer");
        var top = element.offsetTop;
        window.scrollTo(0, top);
    },
  },
};
</script>
