<template>
	<div class="w-100 h-100" id="MainContainer" ref="MainContainer">
		<section>
      <div class="container">
		<div class="row d-flex align-items-center justify-content-center align-content-center col-12 p-0">
			<div class="col-12">
        <h1 class="text-center">Welcome to my app</h1>

      </div>
    </div>
    </div>
      </section>
    

	</div>
</template>
<script>
import { TweenMax, TimelineMax } from 'gsap'
import 'ScrollToPlugin'
import buttonsBottom from '../components/buttonsBottom'
import { VueperSlides, VueperSlide } from 'vueperslides'
import 'vueperslides/dist/vueperslides.css'
import animations from '../locales/animations/animations.js'
import i18n from '@/locales/i18n';

export default {
	name: "Home",
	components: {
     VueperSlides, 
     VueperSlide,
     buttonsBottom
	},
  metaInfo: function () {
		let title = this.i18nMeta("title");
		let description = this.i18nMeta("description");
		let lang = this.i18nMeta("lang");
		let locate = this.i18nMeta("locate");
		let type = "website";
    	var url = location.protocol + '//' + location.host + this.$route.path;
		return {
		title: title, //i18nMeta('title'),
		description: description, //i18nMeta('description'),
		locate: locate,
		type, type,
      url: url,
		htmlAttrs: {
			lang: lang,
			amp: true,
		},
		link: [
			{ rel: 'canonical', href: url}
		],
		meta: [
			{ name: 'robots', content: 'index, follow' },
			{ name: 'description', content: description },
			{ property: 'og:locate', content: locate, vmid: 'og:locate'},
        	{ property: 'og:type', content: type, vmid: 'og:type'},
        	{ property: 'og:site_name', content: 'gonet', vmid: 'og:site_name'},
        	{ property: 'og:url', content: url, vmid: 'og:url'},
        	{ property: 'og:title', content: title, vmid: 'og:title'},
        	{ property: 'og:description', content: description, vmid: 'og:description'}
		],
		};
	},
	data: function () {
		return {
        modalShow: true,
      metaTitle: "",
      metaDescription: "",
      i18nPage: "home",
      running: false,
      	backgroundTec:require('@/assets/images/bg-tecnologies.svg'),
      imgTalent:require('@/assets/images/talenthome.png'),
			servicesList:[
				{
					img:require('@/assets/images/ourservice1.svg'),
          title:this.$t("home.message.services.cards.card1.title"),
          description:this.$t("home.message.services.cards.card1.description"),
				//	description:"Client-oriented • Experiences generation • Business model understanding • Use of new technologies"
				},
				{
					img:require('@/assets/images/ourservice2.svg'),
					title:this.$t("home.message.services.cards.card2.title"),
          description:this.$t("home.message.services.cards.card2.description"),
				},
				{
					img:require('@/assets/images/ourservice3.svg'),
					title:this.$t("home.message.services.cards.card3.title"),
          description:this.$t("home.message.services.cards.card3.description"),
				},
				{
					img:require('@/assets/images/ourservice4.svg'),
					title:this.$t("home.message.services.cards.card4.title"),
          description:this.$t("home.message.services.cards.card4.description"),
				}
			],
      technologies:[
        {
          img:require('@/assets/images/techno1.svg'),
          title:this.$t("home.message.technologies.cards.card1.title"),
          description:this.$t("home.message.technologies.cards.card1.description"),
        },
        {
          img:require('@/assets/images/techno2.svg'),
          title:this.$t("home.message.technologies.cards.card2.title"),
          description:this.$t("home.message.technologies.cards.card2.description"),
        },
        {
          img:require('@/assets/images/techno3.svg'),
          title:this.$t("home.message.technologies.cards.card3.title"),
          description:this.$t("home.message.technologies.cards.card3.description"),
        },
        {
          img:require('@/assets/images/techno4.svg'),
          title:this.$t("home.message.technologies.cards.card4.title"),
          description:this.$t("home.message.technologies.cards.card4.description"),
        },
        {
          img:require('@/assets/images/techno5.svg'),
          title:this.$t("home.message.technologies.cards.card5.title"),
          description:this.$t("home.message.technologies.cards.card5.description"),
        },
        {
          img:require('@/assets/images/techno6.svg'),
          title:this.$t("home.message.technologies.cards.card6.title"),
          description:this.$t("home.message.technologies.cards.card6.description"),
        }
      ],
      industries:[
        {
          classImg:'order-2 order-lg-1',
          classText:'order-1 order-lg-2',
          img:require('@/assets/images/indus1.png'),
          title:this.$t("home.message.industries.cards.card1.title"),
          description:this.$t("home.message.industries.cards.card1.description"), 
          section:'aeronauticsSection'      
          },
        {
          classImg:'order-2 order-lg-1',
          classText:'order-1 order-lg-2',
          img:require('@/assets/images/indus2.png'),
          title:this.$t("home.message.industries.cards.card2.title"),
          description:this.$t("home.message.industries.cards.card2.description"), 
          section:'fintechSection'  
        },
        {
          classImg:'order-2 order-lg-2',
          classText:'order-1 order-lg-1',
          img:require('@/assets/images/indus3.png'),
          title:this.$t("home.message.industries.cards.card3.title"),
          description:this.$t("home.message.industries.cards.card3.description"), 
          section:'bankingSection'  
        },
        {
          classImg:'order-2 order-lg-2',
          classText:'order-1 order-lg-1',
          img:require('@/assets/images/indus4.png'),
          title:this.$t("home.message.industries.cards.card4.title"),
          description:this.$t("home.message.industries.cards.card4.description"), 
          section:'retailSection'  
        }
      ],
      clients:[
        {
          img:require('@/assets/images/clients/retail_and_others/rappi.svg')
        },
        {
          img:require('@/assets/images/clients/aeronautics/aeromexico-25158.svg')
        },
        {
          img:require('@/assets/images/clients/retail_and_others/starbucks.svg')
        },
        {
          img:require('@/assets/images/clients/banking/logo_bbva.svg')
        },
        {
          img:require('@/assets/images/clients/banking/bank_of_america.svg')
        },
        {
          img:require('@/assets/images/clients/retail_and_others/nike.svg')
        },
      ],
      companys:[
        {
          img:require('@/assets/images/company1.svg'),
          title:this.$t("home.message.investors.cards.card1.title"),
          description:this.$t("home.message.investors.cards.card1.description"),
        },
        {
          img:require('@/assets/images/company2.svg'),
          title:this.$t("home.message.investors.cards.card2.title"),
          description:this.$t("home.message.investors.cards.card2.description"),
        },
        {
          img:require('@/assets/images/company4.svg'),
          title:this.$t("home.message.investors.cards.card3.title"),
          description:this.$t("home.message.investors.cards.card3.description"),
        },
        {
          img:require('@/assets/images/company3.svg'),
          title:this.$t("home.message.investors.cards.card4.title"),
          description:this.$t("home.message.investors.cards.card4.description"),
        },
        {
          img:require('@/assets/images/company5.svg'),
          title:this.$t("home.message.investors.cards.card5.title"),
          description:this.$t("home.message.investors.cards.card5.description"),
        }
      ]
		}
	},
  beforeMount: function () {},
	mounted: function () {
    /*	let routeData = this.getRouteInfo();
		// console.log(routeData);
		
		if (routeData && routeData.routeItem && routeData.routeItem.hasOwnProperty('meta') && routeData.routeItem.meta.hasOwnProperty('i18nPage')) {
			this.i18nPage = routeData.routeItem.meta.i18nPage;
		}*/
		this.$forceUpdate();
		//this.resizeEventHandler();
    this.anima();
   // this.scrollToElement();
$('.modal').modal('show');

	},
	computed: {
     
	},
	methods: {
     hideModal() {
      this.$root.$emit('bv::hide::modal', 'bv-modal-notification', '#btnShow')
    },
    /*toPath(dirPath){
      this.$parent.toPage(dirPath)
    },*/
    toPath(event,dirPath){
      //this.$parent.$parent.toPage(dirPath)
        if(event){
            event.preventDefault();
            event.stopPropagation();
        }
        this.$router.push({
				path: "/" + i18n.locale + dirPath
		});
        var element = document.getElementById("MainContainer");
			var top = element.offsetTop;
			window.scrollTo(0, top);
    },
    toLinkScroll(event,idSection,dirPath){
      //this.$parent.$parent.toPage(dirPath)
        if(event){
            event.preventDefault();
            event.stopPropagation();
        }
        this.$router.push({
				path: "/" + i18n.locale + dirPath + "?section=" + idSection
		});
    if(idSection){

    }else{
      var element = document.getElementById("MainContainer");
			var top = element.offsetTop;
			window.scrollTo(0, top);
    }
        
    },
    scrollToElement() {
    //const el = this.$refs.scrollToMe;
    const el = this.$el.getElementsByClassName('ico-arrow')[0];

    if (el) {
      // Use el.scrollIntoView() to instantly scroll to the element
      //el.scrollIntoView()
    el.scrollIntoView({behavior: 'smooth'});
    }
  },
    i18nMeta(message) {
      return this.$t(this.i18nPage + ".meta." + message);
    },
    i18nInfo(message) {
      return this.$t(this.i18nPage + ".info." + message);
    },
    i18nVideo(message) {
      return this.$t(this.i18nPage + ".video." + message);
    },
    i18nImage(message) {
      return this.$t(this.i18nPage + ".image." + message);
    },
    i18nIcons(message) {
      let result = this.$t(this.i18nPage + ".icons." + message);
      return result;
    },
    i18nMessages(message) {
      return this.$t(this.i18nPage + ".message." + message);
    },
    i18nBg(bg) {
      return this.$t(this.i18nPage + ".bg." + bg);
    },
    mouseOver(e){
      TweenMax.to(e.target,0.5,{scale:1.1})
    },
    mouseOut(e){
      TweenMax.to(e.target,0.5,{scale:1})
    },
    anima (){
    const wrapScene= []

    wrapScene[0] = this.$scrollmagic.scene({
          triggerElement: '#ourServices',
          duration: '50%',
          triggerHook: 0.5
        }).setTween([animations.scaleElements('#cardService_',4)])

    wrapScene[1] = this.$scrollmagic.scene({
          triggerElement: '#technologiesSec',
          duration: '50%',
          triggerHook: 0.5
        }).setTween([animations.downUpElements("#techno_",6)])  

    wrapScene[2] = this.$scrollmagic.scene({
          triggerElement: '#industries',
          duration: '50%',
          triggerHook: 0.5
        }).setTween([animations.downUpElements("#indus_",4)])  
        
    wrapScene[3] = this.$scrollmagic.scene({
          triggerElement: '#clients',
          duration: '50%',
          triggerHook: 1
        }).setTween([animations.downUp("#clients",1)])   
        
        
    wrapScene[4] = this.$scrollmagic.scene({
          triggerElement: '#companysection',
          duration: '50%',
          triggerHook: 0.5
        }).setTween([animations.downUpElements("#company_",4)])  
         
        this.$scrollmagic.addScene([wrapScene])
        }
    
	},
}
</script>
<style  type="text/css">
.slogan-gonet{
	position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.card-services{
  background-color: white;
    border-radius: 10px;
}

.container-company{
  flex-flow: row wrap;
    display: flex;
    align-items: baseline;
}

.flex-sect{
  flex: 1 1 30%;
  padding: 3vw;
}


.row+.row {
    margin-top: -12px !important;
}
/*
.imagetalent{
    background-position: center right;
    min-height: 392px;
    background-attachment: fixed;
}*/


</style>