<template>
    <div v-if="currentRequest>0" class="loader-container" >
        <div class="loader-background">

        </div>
        <div class="loader-animation">
            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
</template>

<style lang="scss">
    .loader-container{
        top: 0px;
        left: 0px;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 999999;
        .loader-background{
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 0px;
            left: 0px;
           /* background: $black;
            opacity: 0.7; */
            background: transparent linear-gradient(
288deg,#3b3e48,#657786) 0 0 no-repeat padding-box;
opacity: 1;
        }
.loader-animation{
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
    }


</style>

<script>
import axios from 'axios';

export default {
    name:'Loader',
    data(){
        return {
            currentRequest: 0,
        }
    },
    	computed: {
        
      },
      created: function() {
      

     
	},
    mounted(){
      
        this.addInterceptor();
        this.showLoader();
        this.showAccesibilidad();
        // this.$root.$on('on-mounted-page', () => {
        //     that.subtractRequest();
        // });
    },
    watch:{ 
        $route (to, from){
        //  this.$router.go();
          this.showLoader();
         // window.location.reload();
            // this.show = false;
           
        }
    },
    methods:{
        addInterceptor: function()
        {
            axios.interceptors.request.use((config) => {
                if(config.dontShowLoader)
                {
                    return config;
                }
                this.addRequest();
                return config
            });

            axios.interceptors.response.use((response) => {
                // if(response.headers.dontShowLoader)   
                // {
                //     return response;
                // }
                this.subtractRequest();
                return response
            }, error => {
                // if(error.headers.dontShowLoader)
                // {
                //     return error;
                // }
                this.subtractRequest();
                return Promise.reject(error)
            })
        },
         showAccesibilidad: function()
         {
  var scripts = [
   
              ];
              scripts.forEach(script => {
                let tag = document.createElement("script");
                tag.setAttribute("src", script);
                document.head.appendChild(tag);
              });	
           

        },
          showLoader: function()
         {
             this.addRequest();
            let that = this;
            setTimeout(() => {
                that.subtractRequest();
            }, 1000);
         },
         hideLoader: function()
         {

        },
        addRequest: function()
        {
            this.currentRequest +=1;
            // this.showLoader();
           
        },
        subtractRequest: function()
        {
            this.currentRequest -=1;
            if(this.currentRequest<0)
            {
                this.currentRequest=0;
            }
            // if(this.currentRequest==0)
            // {
            //     this.hideLoader();
            // }
        },
       
    }
}
</script>
<style type="text/css">

</style>