<template>
	<b-modal id="bv-modal-start-project" ref="bv-modal-start-project" 
		size="xl"
		centered
		scrollable
		no-close-on-backdrop 
		no-close-on-esc
		hide-footer>
		<div class="container-fluid w-100 d-flex justify-content-center align-items-center bg-corner-modal-gonet" v-bind:style="{
                'background-image':
                  'url(\'' +
                  require('@/assets/images/start-a-project/ico-gonet-one.svg') +
                  '\'), url(\'' +
                  require('@/assets/images/start-a-project/ico-gonet-two.svg') +
                  '\')', 
               
              }">
		<div class="col-12 row mx-0 px-2 py-0 modal-start-project">
			<!--
			<div class="col-1 col-md-1 p-0">
				<div class="h-100 d-flex align-items-end justify-content-start align-content-start col-12 px-0 py-4">
					<img class="img-fluid" :src="require('@/assets/images/start-a-project/ico-gonet-one.svg')" />
				</div>
			</div>
			-->
			<div class="col-12 col-md-12 p-0">
				<div class="col-12 px-1 h-80 row mx-0" v-show="step == 1" id="step-1" ref="step-1">
					<div class="h-100 d-none d-sm-none d-md-none  d-lg-flex align-items-center justify-content-center align-content-center col-12 col-sm-12 col-md-6  px-0 py-4">
						<img class="img-hi" :src="require('@/assets/images/start-a-project/hi.svg')" />
					</div>
					<div class="d-flex align-items-center justify-content-center align-content-center col-12 col-sm-12 col-md-6  px-0 py-4 h-100">
						<div class="row col-12 col-sm-10">
							<p class="text-center gonet-text w-100" v-html="i18nStep1('title')"></p>
							<input type="text" class="form-control gonet-text" name="nameOwner" ref="nameOwner" id="nameOwner" v-model="compModel.name" :placeholder="i18nStep1('name')">
						</div>
					</div>
				</div>
				<div class="col-12 px-1 h-80 row mx-0" v-show="step == 2" id="step-2" ref="step-2">
						<div class="row col-12 d-flex align-items-center justify-content-center align-content-center">
							<p class="text-center gonet-text w-100" v-html="i18nStep2('title')"></p>
							<div class="row col-12 step-containter-circle w-90 row mx-0 justify-content-center align-items-center">
								<div class="col-6 col-md-4 col-lg-2" @click="selectType($event, 1)">
									<div class="rounded-circle-gonet choice-type" :class="{'selected': type == 1}">
										<img class="choice-type-icon" :src="require('@/assets/images/start-a-project/ico-aeronautics.svg')" />
										<p class="choice-type-name text-center" :class="{'selected': type == 1}" v-html="i18nStep2('option1')"></p>
									</div>	
								</div>
								<div class="col-6 col-md-4 col-lg-2" @click="selectType($event, 2)">
									<div class="rounded-circle-gonet choice-type" :class="{'selected': type == 2}">
										<img class="choice-type-icon" :src="require('@/assets/images/start-a-project/ico-banking.svg')" />
										<p class="choice-type-name text-center" :class="{'selected': type == 2}" v-html="i18nStep2('option2')"></p>
									</div>
									
								</div>
								<div class="col-6 col-md-4 col-lg-2" @click="selectType($event, 3)">
									<div class="rounded-circle-gonet choice-type" :class="{'selected': type == 3}">
										<img class="choice-type-icon" :src="require('@/assets/images/start-a-project/ico-fintech.svg')" />
										<p class="choice-type-name text-center" :class="{'selected': type == 3}" v-html="i18nStep2('option3')"></p>
									</div>
									
								</div>
								<div class="col-6 col-md-4 col-lg-2" @click="selectType($event, 4)">
									<div class="rounded-circle-gonet choice-type float-none float-md-right float-lg-none" :class="{'selected': type == 4}">
										<img class="choice-type-icon" :src="require('@/assets/images/start-a-project/ico-retail.svg')" />
										<p class="choice-type-name text-center" :class="{'selected': type == 4}" v-html="i18nStep2('option4')"></p>
									</div>
									
								</div>
								<div class="col-6 col-md-4 col-lg-2" @click="selectType($event, 5)">
									<div class="rounded-circle-gonet choice-type float-none float-md-left float-lg-none" :class="{'selected': type == 5}">
										<img class="choice-type-icon" :src="require('@/assets/images/start-a-project/ico-others.svg')" />
										<p class="choice-type-name text-center" :class="{'selected': type == 5}" v-html="i18nStep2('option5')"></p>
									</div>
									
								</div>
							</div>
						</div>
				</div>
				<div class="col-12 px-1 h-80 row mx-0" v-show="step == 3" id="step-3" ref="step-3">
					<div class="d-flex align-items-center justify-content-center align-content-center col-12 px-0 py-4 h-100">
						<div class="row col-12 col-sm-10">
							<p class="text-center gonet-text w-100" v-html="i18nStep3('title')"></p>
							<div class="col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
								<div class="gonet-start-type w-100 px-3 py-2 rounded-interest mb-2" :class="{'selected': interest == 1}" @click="selectInterest($event, 1)">
									<p class="text-center w-100 h-30 my-0" v-html="i18nStep3('option1')"></p>
								</div>
								<div class="gonet-start-type w-100 px-3 py-2 rounded-interest mb-2" :class="{'selected': interest == 2}" @click="selectInterest($event, 2)">
									<p class="text-center w-100 h-30 my-0" v-html="i18nStep3('option2')"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 px-1 h-70 row mx-0" v-show="step == 4" id="step-4" ref="step-4">
					<div class="d-flex align-items-center justify-content-center align-content-center col-12 px-0 py-4 h-100">
						<div class="row col-12 col-sm-10">
							<p class="text-center gonet-text w-100" v-html="i18nStep4('title')"></p>
							<input type="mail" class="form-control gonet-text" name="mailOwner" ref="mailOwner" id="mailOwner" v-model="compModel.email" :placeholder="i18nStep4('mail')" :class="{'is-invalid': !(compModel.email && emailRegex.test(compModel.email.trim()))}">
							<input type="tel" class="form-control gonet-text" name="phoneOwner" ref="phoneOwner" id="phoneOwner" v-model="compModel.phone" :placeholder="i18nStep4('phone')" @keypress="onlyNumber" :class="{'is-invalid': !(compModel.phone && compModel.phone.length >= 10 && compModel.phone.length <= 20)}">
							<el-select class="form-control gonet-text" v-show="interest == 1"
								v-model="interestList"
								:placeholder="i18nStep4('select')"
								multiple collapse-tags>
								<el-option-group v-for="group in options" 
									:key="'interest_' + group.i18n" 
									:label="i18nInterestCatalog(group)">
									<el-option v-for="item in group.options" 
										:key="'interest_' + group.i18n + '_' + item" 
										:label="i18nInterestLabel(group, item)"
										:value="group.i18n + '_' + item">
									</el-option>
								</el-option-group>
							</el-select>
						</div>
					</div>
				</div>
				<div class="col-12 px-1 h-80 row mx-0" v-show="step == 5" id="step-5" ref="step-5">
					<div class="h-100 d-none d-md-flex align-items-center justify-content-center align-content-center col-12 col-sm-6 px-0 py-4">
						<img class="img-hi" :src="require('@/assets/images/start-a-project/img-thanks.svg')" />
					</div>
					<div class="d-flex align-items-center justify-content-center align-content-center col-12 col-sm-6 px-0 py-4 h-100">
						<div class="row col-12 col-sm-10">
							<p class="text-center gonet-text w-100" v-html="i18nStep5('title')"></p>
						</div>
					</div>
				</div>
				<div class="col-12 pt-4" id="actions" ref="actions" :class="{'h-30': step == 4, 'h-20': step != 4}">
					<div class="d-flex align-items-center justify-content-center align-content-center w-100 h-100">
						<div class="text-center">
							<button class="gonet-start-type w-100 px-3 py-2 rounded-interest mb-2 selected" @click="clickNextStep" :disabled="errorToNext" v-show="step == 4 && !sendingStartForm">
								{{ i18nActions('ready') }}
							</button>
							<div class="spinner-border text-dark" role="status" v-show="sendingStartForm">
								<span class="sr-only">Loading...</span>
							</div>
							<br />
							<button class="mr-4 gonet-actions gonet-text" @click="clickPrevStep" v-show="step > 1 && step < 5">
								<font-awesome-icon :icon="['fas', 'chevron-left']" size="1x" class="text-white mr-2" />
								{{ i18nActions('prev') }}
							</button>
							<button class="ml-4 gonet-actions gonet-text" @click="clickNextStep" :disabled="errorToNext" v-show="step < 4">
								{{ i18nActions('next') }}
								<font-awesome-icon :icon="['fas', 'chevron-right']" size="1x" class="text-white ml-2" />
							</button>
						</div>
					</div>
				</div>
			</div>
			<!--
			<div class="col-1 col-md-1 p-0">
				<div class="h-100 d-flex align-items-start justify-content-end align-content-end col-12 px-0 py-4">
					<img class="img-fluid" :src="require('@/assets/images/start-a-project/ico-gonet-two.svg')" />
				</div>
			</div>
			-->
		</div>
	</div>
	</b-modal>
</template>
<script type="text/javascript">
import CommonMixin from '../library/mixins/commonMixin.js';
import MailRequest from '../request/MailRequest.js';
import Constants from '../library/ConstantsLibrary.js';

export default {
	mixins: [CommonMixin],
	components:{
	},
	created: function() {
	},
	destroyed: function() {
	},
	computed: {
		errorToNext: function () {
			return !this.isValidCurrentStep();
		},
	},
	data: function() {
		return {
			step: 1,
			type: 0,
			interest: 0,
			interestList: [],
			compModel: {
				name: "",
				type: "",
				interest: "",
				email: "",
				phone: "",
				interestList: [],
			},
			options: [],
			sendingStartForm: false,
			emailRegex: Constants.emailRegex,
		}
	},
	beforeMount: function () {
	},
	mounted: function() {
		this.options = defaultOptions;
		let that = this;
		this.$root.$on('on-start-project', () => {
			that.clearCompModel();
			that.$refs['bv-modal-start-project'].show();
			document.getElementsByName("nameOwner").focus();
			// that.$refs.nameOwner.focus();
		});
	},
	watch: {
		'compModel.name': function () {
			this.$forceUpdate();
		},
		'interestList': {
			deep: true,
			handler: function (newValue) {
				this.compModel.interestList = [];
				this.interestList.forEach((interest) => {
					this.compModel.interestList.push(this.i18nInterestValue(interest));
				});
			}
		},
	},
	methods: {
		i18nStep1(messages) {
			return this.$t('startProject.step1.' + messages).split("{name}").join(this.compModel.name);
		},
		i18nStep2(messages) {
			return this.$t('startProject.step2.' + messages).split("{name}").join(this.compModel.name);
		},
		i18nStep3(messages) {
			return this.$t('startProject.step3.' + messages).split("{name}").join(this.compModel.name);
		},
		i18nStep4(messages) {
			return this.$t('startProject.step4.' + messages).split("{name}").join(this.compModel.name);
		},
		i18nStep5(messages) {
			return this.$t('startProject.step5.' + messages).split("{name}").join(this.compModel.name);
		},
		i18nActions(messages) {
			return this.$t('startProject.actions.' + messages).split("{name}").join(this.compModel.name);
		},
		i18nInterestCatalog(group) {
			return this.i18nStep4('interestCatalog.'+ group.i18n + '.' + group.label);
		},
		i18nInterestLabel(group, item) {
			return this.i18nStep4('interestCatalog.'+ group.i18n + '.catalog.' + group.i18n + item);
		},
		i18nInterestValue(item) {
			let keys = item.split('_');
			return this.i18nStep4('interestCatalog.'+ keys[0] + '.catalog.' + keys[0] + keys[1]);
		},
		clearCompModel() {
			this.step = 1;
			this.type = 0;
			this.interest = 0;
			this.interestList = [];
			this.compModel.name = "";
			this.compModel.type = "";
			this.compModel.interest = "";
			this.compModel.email = "";
			this.compModel.phone = "";
			this.compModel.interestList = [];
		},
		selectType(event, type) {
			if (event) {
				event.preventDefault();
				event.stopPropagation();
			}

			this.type = type;
			this.compModel.type = this.i18nStep2('option' + type);
		},
		selectInterest(event, interest) {
			if (event) {
				event.preventDefault();
				event.stopPropagation();
			}

			this.interest = interest;
			this.compModel.interest = this.i18nStep3('option' + interest);
		},
		clickPrevStep(event) {
			if (event) {
				event.preventDefault();
				event.stopPropagation();
			}

			if (this.step == 1) {
				this.$refs['bv-modal-start-project'].hide();
			} else {
				this.step--;
			}
		},
		clickNextStep(event) {
			if (event) {
				event.preventDefault();
				event.stopPropagation();
			}

			let isValid = this.isValidCurrentStep();

			if (isValid && this.step == 5) {
				this.$refs['bv-modal-start-project'].hide();
			} else if (isValid && this.step == 4) {
				this.sendStartProject();
			} else if (isValid) {
				this.step++;
			}
		},
		isValidCurrentStep() {
			switch(this.step) {
				case 1:
					return this.compModel.name && this.compModel.name.trim() != "";
				case 2:
					return this.compModel.type && this.compModel.type.trim() != "";
				case 3:
					return this.compModel.interest && this.compModel.interest.trim() != "";
				case 4:
					if (this.interest == 1) {
						return this.compModel.email && this.compModel.email.trim() != "" && this.emailRegex.test(this.compModel.email.trim())
							&& this.compModel.phone && this.compModel.phone.trim() != "" && this.compModel.phone.length >= 10 && this.compModel.phone.length <= 20
							&& this.compModel.interestList && this.compModel.interestList.length > 0;
					} else {
						return this.compModel.email && this.compModel.email.trim() != "" && this.emailRegex.test(this.compModel.email.trim())
							&& this.compModel.phone && this.compModel.phone.trim() != "" && this.compModel.phone.length >= 10 && this.compModel.phone.length <= 20;
					}
				case 5:
					return true;
			}
			return false;
		},
		sendStartProject() {
			this.sendingStartForm = true;
			MailRequest.sendMail("saveForm", "startaproject", "4", this.compModel)
			.then(response => {
				console.log('Mail response', response);
			}).catch(error => {
				console.log('Mail error', error);
			}).finally(() => {
				this.sendingStartForm = false;
				this.step++;
			});
		},
	}
}
export const defaultOptions = [
	{
		'i18n': 'service',
        'label': 'title',
        'options': ['1','2','3','4'],
    },
    {
    	'i18n': 'technology',
        'label': 'title',
        'options': ['1','2','3','4','5'],
    },
    {
    	'i18n': 'scheme',
        'label': 'title',
        'options': ['1','2','3','4','5'],
    },
];
</script>
<style type="text/css">
/*#bv-modal-start-project .modal-header{
    position: fixed;
    float: right;
    top: 3px !important;
    right: 0;
}*/
.img-hi{
	height: 400px;
	position: fixed;
}
.modal-backdrop {
	background: #00000093 0% 0% no-repeat padding-box;
	opacity: 0.6;
}
#bv-modal-start-project .modal-content {
/*	background: rgba(255, 255, 255, 0.6); */
	/* background: linear-gradient(243deg, rgba(0, 197, 214, 0.9), rgba(149,28,255,0.9));*/
	 background: transparent linear-gradient(288deg, #3B3E48 0%, #657786 100%) 0% 0% no-repeat padding-box;
	backdrop-filter: blur(40%) brightness(40%) opacity(70%);
	-webkit-backdrop-filter: blur(40px);
	border-radius: 2vh;
	border: 0px solid transparent;
}
#bv-modal-start-project .modal-header {
	border-bottom: none !important;
	padding-bottom: 0px;
}
/*.modal-body {
	padding-top: 0px;
}*/
#bv-modal-start-project .modal-footer {
	border-top: none !important;
}
.gonet-corner {
	background: transparent;
}
.gonet-corner-container {
	height: 12vh;
}
.modal-start-project div.el-select .el-input__inner,
.gonet-text {
	font-size: 18px;
    color: #fff;
}
.gonet-text.is-invalid, .gonet-text:invalid {
    border-color: #dc3545 !important;
    padding-right: calc(1.5em + .75rem);
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.gonet-actions:disabled {
	opacity: 0.5;
	color: #fff;
}
.modal-start-project select,
.modal-start-project div.el-select,
.modal-start-project input[type=text],
.modal-start-project input[type=mail],
.modal-start-project input[type=tel]  {
	text-align: center;
	border-radius: 0px;
	color: #FFFFFF;
	background: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #FFFFFF;
}
.modal-start-project div.el-select .el-input__inner {
	border: none;
}
.modal-start-project div.el-select ::-webkit-input-placeholder,
.modal-start-project ::-webkit-input-placeholder {
   text-align: center;
   color: #FFFFFF;
}

.modal-start-project div.el-select :-moz-placeholder,
.modal-start-project :-moz-placeholder {
   text-align: center;
   color: #FFFFFF;  
}

.modal-start-project div.el-select ::-moz-placeholder,
.modal-start-project ::-moz-placeholder {
   text-align: center;
   color: #FFFFFF;  
}

.modal-start-project div.el-select :-ms-input-placeholder,
.modal-start-project :-ms-input-placeholder {
   text-align: center;
   color: #FFFFFF; 
}

div.gonet-start-type,
button.gonet-start-type {
	border: 3px solid #FFFFFF;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 2vh;
}
div.gonet-start-type.selected,
button.gonet-start-type.selected {
	/*border: 3px solid #1E43B2;
	background: #1E43B2 0% 0% no-repeat padding-box;*/
	border: 3px solid #3B3E48;
	background: #3B3E48 0% 0% no-repeat padding-box;
	
}

div.gonet-start-type:disabled,
button.gonet-start-type:disabled {
	opacity: 0.6;
	cursor: default;
}

div.gonet-start-type p {
	color: #FFFFFF;
	font-size: 2vh;
}

.rounded-interest {
	border-top-left-radius: 8% 50% !important;
	border-bottom-left-radius: 8% 50% !important;
	border-top-right-radius: 8% 50% !important;
	border-bottom-right-radius: 8% 50% !important;
}

p.gonet-start-type {
	color: #FFFFFF;
	font-size: 2vh;
}
p.gonet-start-type.selected {
	color: #1E43B2;
	font-weight: bold !important;
}
.choice-type-icon {
    width: 100%;
    height: 60px;
    padding-top: 1rem;
}
.rounded-circle-gonet{
	border-radius:50% !important;
	width: 130px;
    height: 130px;
	margin: 0 auto;
}
.choice-type {
    background: transparent;
    box-shadow: 20px 30px 20px #00000029;
    opacity: 0.8;
    cursor: pointer;
    border: 1px solid #fff;
}

.choice-type-name {
    width: 100%;
    font: normal normal normal 16px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-top: 0.5rem !important;
    padding-bottom: 2rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.choice-type.selected {
   /* background: transparent linear-gradient( 
341deg
 , #00C5D6 0%, #951CFF 100%) 0% 0% no-repeat padding-box;*/
  background: transparent linear-gradient(288deg, #3B3E48 0%, #657786 100%) 0% 0% no-repeat padding-box;
    box-shadow: 20px 30px 20px #00000029;
    opacity: 0.8;
    border: 1px solid transparent;
}

.bg-corner-modal-gonet {
    /* background-image: url(/assets/images/corner1.svg), url(/assets/images/corner2.svg); */
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: 56px;
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 991px) {
	.bg-corner-modal-gonet{
		    background-size: 30px;
			    padding: 20px;
	}
.step-containter-circle {
    max-width: 340px;
}
.rounded-circle-gonet {
    width: 100px;
    height: 100px;
}
.choice-type-name {
    font: normal normal normal 10px Montserrat;
}
.choice-type-icon {
    width: 100%;
    height: 47px;
    padding-top: 1rem;
}
}

@media (max-width: 767px) {
.step-containter-circle {
    max-width: 290px;
}
}

@media (min-width: 992px){
#bv-modal-start-project .modal-lg, #bv-modal-start-project .modal-xl {
    max-width: 992px;
}
}
@media (min-width: 768px){
#bv-modal-start-project	 .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
}


@media (min-width: 992px){
#bv-modal-start-project	.col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
}


/* Small devices (landscape phones, 576px and up) */
/*@media (min-width: 576px) {
	.gonet-corner-container {
		height: 13.5vh;
	}
}*/

/* Medium devices (tablets, 768px and up) */
/*@media (min-width: 768px) {
	.gonet-corner-container {
		height: 14vh;
	}
}*/

/* Large devices (desktops, 992px and up) */
/*@media (min-width: 992px) {
	.gonet-corner-container {
		height: 14.5vh;
	}
}
*/
/* Extra large devices (large desktops, 1200px and up) */
/*@media (min-width: 1200px) {
	.gonet-corner-container {
		height: 12vh;
	}
}*/
</style>