<template>
    <b-card>
         <b-card-text>
             <div class="row">
                <div class="col-3">
                    <span class="title">
                        Tono continuo
                    </span>
                </div>
                <div class="col-3">
                    <span class="title">
                        Notificación pantalla
                    </span>
                </div>
                <div class="col-3"></div>
                <div class="col-3"></div>
             </div>
             <div class="row mb-5">
                <div class="col-3">
                    <toggle-button v-model="continuousTone"
                           :value="continuousTone"
                           :sync="true"
                           @change="changeStatusContinuousTone"
                    />
                    <span class="onoff">
                        {{ continuousTone? 'Encendido' : 'Pausado' }}
                    </span>
                </div>
                <div class="col-3">
                    <toggle-button v-model="NotificationOnScreen"
                           :value="NotificationOnScreen"
                           :sync="true"
                           @change="changeStatusNotificationOnScreen"
                    />
                    <span class="onoff">
                        {{ NotificationOnScreen? 'Encendido' : 'Pausado' }}
                    </span>
                </div>
                <div class="col-3"></div>
                <div class="col-3"></div>
             </div>
             <div class="row">
                <div class="col-3">
                    <span class="title">
                        Delivery
                    </span>
                </div>
                <div class="col-3 text-center">
                    <span class="title">
                        Aceptación Automática
                    </span>
                </div>
                <div class="col-3 text-center">
                    <span class="title">
                        Estatus Tienda
                    </span>
                </div>
                <div class="col-3 text-center">
                    <span class="title">
                        Procesar Ordenes
                    </span>
                </div>
             </div>
             <div class="row mb-5">
                <div class="col-3">
                    <img :src="uberLogo" class="delivery-logo">
                    <span class="delivery-name">
                        Uber Eats
                    </span>
                    <div class="integrationId">
                        Integración 958230948509234850943
                    </div>
                </div>
                <div class="col-3 text-center">
                    <toggle-button v-model="deliveries.uberEats.automaticAcceptance"
                           :value="deliveries.uberEats.automaticAcceptance"
                           :sync="true"
                           @change="changeStatusDelivery('uberEats.automaticAcceptance')"
                    />
                    <span class="onoff">
                        {{ deliveries.uberEats.automaticAcceptance? 'Encendido' : 'Apagado' }}
                    </span>
                </div>
                <div class="col-3 text-center">
                    <toggle-button v-model="deliveries.uberEats.storeStatus"
                           :value="deliveries.uberEats.storeStatus"
                           :sync="true"
                           @change="changeStatusDelivery('uberEats.storeStatus')"
                    />
                    <span class="onoff">
                        {{ deliveries.uberEats.storeStatus? 'Encendido' : 'Apagado' }}
                    </span>
                </div>
                <div class="col-3 text-center">
                    <toggle-button v-model="deliveries.uberEats.ordersProcessing"
                           :value="deliveries.uberEats.ordersProcessing"
                           :sync="true"
                           @change="changeStatusDelivery('uberEats.ordersProcessing')"
                    />
                    <span class="onoff">
                        {{ deliveries.uberEats.ordersProcessing? 'Encendido' : 'Apagado' }}
                    </span>
                </div>
             </div>
             <div class="row mb-5">
                <div class="col-3">
                    <img :src="didiLogo" class="delivery-logo">
                    <span class="delivery-name">
                        Didi Food
                    </span>
                    <div class="integrationId">
                        Integración 958230948509234850943
                    </div>
                </div>
                <div class="col-3 text-center">
                    <toggle-button v-model="deliveries.didi.automaticAcceptance"
                           :value="deliveries.didi.automaticAcceptance"
                           :sync="true"
                           @change="changeStatusDelivery('didi.automaticAcceptance')"
                    />
                    <span class="onoff">
                        {{ deliveries.didi.automaticAcceptance? 'Encendido' : 'Apagado' }}
                    </span>
                </div>
                <div class="col-3 text-center">
                    <toggle-button v-model="deliveries.didi.storeStatus"
                           :value="deliveries.didi.storeStatus"
                           :sync="true"
                           @change="changeStatusDelivery('didi.storeStatus')"
                    />
                    <span class="onoff">
                        {{ deliveries.didi.storeStatus? 'Encendido' : 'Apagado' }}
                    </span>
                </div>
                <div class="col-3 text-center">
                    <toggle-button v-model="deliveries.didi.ordersProcessing"
                           :value="deliveries.didi.ordersProcessing"
                           :sync="true"
                           @change="changeStatusDelivery('didi.ordersProcessing')"
                    />
                    <span class="onoff">
                        {{ deliveries.didi.ordersProcessing? 'Encendido' : 'Apagado' }}
                    </span>
                </div>
             </div>
             <div class="row mb-3">
                <div class="col-3">
                    <img :src="rappiLogo" class="delivery-logo">
                    <span class="delivery-name">
                        Rappi
                    </span>
                    <div class="integrationId">
                        Integración 958230948509234850943
                    </div>
                </div>
                <div class="col-3 text-center">
                    <toggle-button v-model="deliveries.rappi.automaticAcceptance"
                           :value="deliveries.rappi.automaticAcceptance"
                           :sync="true"
                           @change="changeStatusDelivery('rappi.automaticAcceptance')"
                    />
                    <span class="onoff">
                        {{ deliveries.rappi.automaticAcceptance? 'Encendido' : 'Apagado' }}
                    </span>
                </div>
                <div class="col-3 text-center">
                    <toggle-button v-model="deliveries.rappi.storeStatus"
                           :value="deliveries.rappi.storeStatus"
                           :sync="true"
                           @change="changeStatusDelivery('rappi.storeStatus')"
                    />
                    <span class="onoff">
                        {{ deliveries.rappi.storeStatus? 'Encendido' : 'Apagado' }}
                    </span>
                </div>
                <div class="col-3 text-center">
                    <toggle-button v-model="deliveries.rappi.ordersProcessing"
                           :value="deliveries.rappi.ordersProcessing"
                           :sync="true"
                           @change="changeStatusDelivery('rappi.ordersProcessing')"
                    />
                    <span class="onoff">
                        {{ deliveries.rappi.ordersProcessing? 'Encendido' : 'Apagado' }}
                    </span>
                </div>
             </div>
        </b-card-text>
    </b-card>
</template>

<script>

const didiLogo = require('@/assets/images/deliveries/DiDiFoodColor.png');
const uberLogo = require('@/assets/images/deliveries/uberEatsColor.png');
const rappiLogo = require('@/assets/images/deliveries/rappiColor.png');

export default {
    metaInfo: {
        title: "Config Ezample",
        description: "%s - Description Example!",
        htmlAttrs: {
            lang: 'en',
            amp: true
        },
    },
    data() {
        return {
            didiLogo,
            uberLogo,
            rappiLogo,
            continuousTone: false,
            NotificationOnScreen: false,
            deliveries: {
                uberEats: {
                    automaticAcceptance: false,
                    storeStatus: false,
                    ordersProcessing: false
                },
                didi: {
                    automaticAcceptance: false,
                    storeStatus: false,
                    ordersProcessing: false
                },
                rappi: {
                    automaticAcceptance: false,
                    storeStatus: false,
                    ordersProcessing: false
                }
            }
        }
    },
    methods: {
        changeStatusDelivery(modelRef){
            let ref = modelRef.split('.')

            console.log('model change', modelRef, this.deliveries[ref[0]][ref[1]])
        },
        changeStatusContinuousTone(){
            console.log('Tono continuo modificado: ', this.continuousTone)
        },
        changeStatusNotificationOnScreen(){
            console.log('Notificacion en pantalla modificada: ', this.continuousTone)
        },
    }
}
</script>

<style scoped>
    label.vue-js-switch {
        margin-bottom: .5em;
    }
    .card {
        box-shadow: 3px 1px 5px #00000050;
        border-radius: 13px;
    }
    img.delivery-logo {
        width: 50px;
    }
    .delivery-name{
        color: #707070;
        font-size: .8em;
        font-weight: bold;
    }
    .integrationId {
        font-size: .6em;
        color: #707070;
    }
    .title {
        padding-bottom: .5em;
        display: block;
        font-weight: bold;
    }
    .onoff {
        display: block;
        font-size: 0.7em;
        color: #707070DB;
    }
</style>