<template>
	<div>
		
	</div>
</template>
<script>
export default {
	name: "list",
	metaInfo: {
        title: "List Ezample",
        description: "%s - Description List Example!",
        htmlAttrs: {
            lang: 'en',
            amp: true
        },
    },
}
</script>
<style lang="scss" scoped>
</style>