<template>
	<div class="w-100">
		<div class="bg-info">
			<div class="">
				<div class="">
					<div class="d-flex align-items-center justify-content-center align-content-center col-12 p-0">
						
						<video :src="i18nVideo('path')"
							muted autoplay loop width="100%">
						</video>
						<!--<div class="col-10 col-md-8 text-left bg-video container-video-desc" v-show="!playing">
							<div class="row mx-0 col-12 col-md-6 px-0">
								<div class="col-5 text-center" @click="play">
									<img :src="i18nVideo('icon')" class="gonet-video-icon img-fluid">
								</div>
								<p class="col-7 text-left">{{i18nVideo("title")}}</p>
								<p class="col-12 text-left">{{i18nVideo("legend")}}</p>
							</div>
						</div>-->
					</div>
				</div>
			</div>
		</div>
		<div class="bg-white">
			<div class="container">
				<h1 class="text-center p-2 p-md-4">{{i18nMessages("info.mainTilte")}}</h1>
				<h3 class="text-center p-2 p-md-4">{{i18nMessages("info.mainText")}}</h3>
				<div class="row mx-0">
					<div class="d-flex align-items-center justify-content-center align-content-center col-12 col-md-6 order-1 order-md-1 p-2 p-md-4">
						<div class="col-10 col-md-6 bg-white text-center">
							<!-- <p class="text-center">{{i18nIcons("section1")}}</p> -->
							<img :src="i18nIcons('section1')" class="gonet-section-icon img-fluid">
							<p class="text-center">{{i18nMessages("section1.title")}}</p>
							<p class="text-center">{{i18nMessages("section1.legend1")}}</p>
							<p class="text-center">{{i18nMessages("section1.legend2")}}</p>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-center align-content-center col-12 col-md-6 order-2 order-md-2 p-2 p-md-4 bg-gonet-image" v-bind:style="{'background-image': 'url(\''+i18nImage('image1')+'\')'}">
						<div class="col-10 col-md-6 bg-white text-center">
							<p class="text-center">{{i18nMessages("section2.title")}}</p>
							<p class="text-center">{{i18nMessages("section2.legend1")}}</p>
							<div class="d-flex align-items-center justify-content-center align-content-center">
								<div class="rounded-circle circle-decoration dec-1"></div>
								<div class="rounded-circle circle-decoration dec-2 mx-1"></div>
								<div class="rounded-circle circle-decoration dec-3"></div>
							</div>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-center align-content-center col-12 col-md-6 order-3 order-md-4 p-2 p-md-4">
						<div class="col-10 col-md-6 bg-white text-center">
							<!-- <p class="text-center">{{i18nIcons("section3")}}</p> -->
							<img :src="i18nIcons('section3')" class="gonet-section-icon img-fluid">
							<p class="text-center">{{i18nMessages("section3.title")}}</p>
							<p class="text-center">{{i18nMessages("section3.legend1")}}</p>
							<p class="text-center">{{i18nMessages("section3.legend2")}}</p>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-center align-content-center col-12 col-md-6 order-4 order-md-3 p-2 p-md-4 bg-gonet-image" v-bind:style="{'background-image': 'url(\''+i18nImage('image2')+'\')'}">
						<div class="col-10 col-md-6 bg-white text-center">
							<p class="text-center">{{i18nMessages("section4.title")}}</p>
							<p class="text-center">{{i18nMessages("section4.legend1")}}</p>
							<div class="d-flex align-items-center justify-content-center align-content-center">
								<div class="rounded-circle circle-decoration dec-1"></div>
								<div class="rounded-circle circle-decoration dec-2 mx-1"></div>
								<div class="rounded-circle circle-decoration dec-3"></div>
							</div>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-center align-content-center col-12 col-md-6 order-5 order-md-5 p-2 p-md-4">
						<div class="col-10 col-md-6 bg-white text-center">
							<!-- <p class="text-center">{{i18nIcons("section5")}}</p> -->
							<img :src="i18nIcons('section5')" class="gonet-section-icon img-fluid">
							<p class="text-center">{{i18nMessages("section5.title")}}</p>
							<p class="text-center">{{i18nMessages("section5.legend1")}}</p>
							<p class="text-center">{{i18nMessages("section5.legend2")}}</p>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-center align-content-center col-12 col-md-6 order-6 order-md-6 p-2 p-md-4 bg-gonet-image" v-bind:style="{'background-image': 'url(\''+i18nImage('image3')+'\')'}">
						<div class="col-10 col-md-6 bg-white text-center">
							<p class="text-center">{{i18nMessages("section6.title")}}</p>
							<p class="text-center">{{i18nMessages("section6.legend1")}}</p>
							<div class="d-flex align-items-center justify-content-center align-content-center">
								<div class="rounded-circle circle-decoration dec-1"></div>
								<div class="rounded-circle circle-decoration dec-2 mx-1"></div>
								<div class="rounded-circle circle-decoration dec-3"></div>
							</div>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-center align-content-center col-12 col-md-6 order-7 order-md-8 p-2 p-md-4">
						<div class="col-10 col-md-6 bg-white text-center">
							<!-- <p class="text-center">{{i18nIcons("section7")}}</p> -->
							<img :src="i18nIcons('section7')" class="gonet-section-icon img-fluid">
							<p class="text-center">{{i18nMessages("section7.title")}}</p>
							<p class="text-center">{{i18nMessages("section7.legend1")}}</p>
							<p class="text-center">{{i18nMessages("section7.legend2")}}</p>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-center align-content-center col-12 col-md-6 order-8 order-md-7 p-2 p-md-4 bg-gonet-image" v-bind:style="{'background-image': 'url(\''+i18nImage('image4')+'\')'}">
						<div class="col-10 col-md-6 bg-white text-center">
							<p class="text-center">{{i18nMessages("section8.title")}}</p>
							<p class="text-center">{{i18nMessages("section8.legend1")}}</p>
							<div class="d-flex align-items-center justify-content-center align-content-center">
								<div class="rounded-circle circle-decoration dec-1"></div>
								<div class="rounded-circle circle-decoration dec-2 mx-1"></div>
								<div class="rounded-circle circle-decoration dec-3"></div>
							</div>
						</div>
					</div>
				</div>

			<buttonsBottom />

			</div>
		</div>
		<div class="bg-white">
			<div class="container"></div>
		</div>
	</div>
</template>
<script type="text/javascript">
import CommonMixin from '../../library/mixins/commonMixin.js';
import buttonsBottom from '../../components/buttonsBottom'
export default {
	mixins: [CommonMixin],
	components:{
		buttonsBottom
	},
	metaInfo: function () {
		let title = this.i18nMeta('title');
		let description = this.i18nMeta('description');
		return {
			title: title,//i18nMeta('title'),
			description: description,//i18nMeta('description'),
			htmlAttrs: {
				lang: 'en',
				amp: true
			},
		}
	},
	created: function() {
		window.addEventListener("resize", this.resizeEventHandler);
	},
	destroyed: function() {
		window.removeEventListener("resize", this.resizeEventHandler);
	},
	computed: {
		playing() {
			return !this.paused; 
		},
	},
	data: function() {
		return {
			metaTitle: "",
			metaDescription: "",
			i18nPage: "ourServices",
			// i18nPage: "defaultInfo",
			running: false,
			videoWidth: 0,
			videoElement: null,
			paused: null,
		}
	},
	beforeMount: function () {
	},
	mounted: function() {
		let routeData = this.getRouteInfo();
		// console.log(routeData);
		
		if (routeData && routeData.routeItem && routeData.routeItem.hasOwnProperty('meta') && routeData.routeItem.meta.hasOwnProperty('i18nPage')) {
			this.i18nPage = routeData.routeItem.meta.i18nPage;
		}
		this.$forceUpdate();
		this.resizeEventHandler();
	},
	methods: {
		i18nMeta(message) {
			return this.$t(this.i18nPage + ".meta." + message);
		},
		i18nVideo(message) {
			return this.$t(this.i18nPage + ".video." + message);
		},
		i18nImage(message) {
			return this.$t(this.i18nPage + ".image." + message);
		},
		i18nIcons(message) {
			let result = this.$t(this.i18nPage + ".icons." + message);
			return result;
		},
		i18nMessages(message) {
			return this.$t(this.i18nPage + ".message." + message);
		},
		resizeEventHandler() {
			// this.videoWidth = this.$refs.videoPlayer1.clientWidth;
			let elements = document.getElementsByClassName("videoPlayer1");
			if (elements.length > 0) {
				let that = this;
				this.videoWidth = elements[0].clientWidth;
				// setTimeout(() => {
				// 	that.$refs.videoPlayer1.update(that.i18nVideo('video-id'));
				// 	that.$forceUpdate();
				// }, 50);
				this.$refs.videoPlayer1.update(this.i18nVideo('video-id'));
				this.$forceUpdate();
				// (100 / (elements[0].offsetWidth > 0 ? elements[0].offsetWidth : 500))
			}
		},
		clickPlay() {
			this.$refs.videoPlayer1.play();
			// this.playerRunning = !this.playerRunning;
			this.running = true;
		},
		clickPause() {
			// this.$refs.videoPlayer1.pause();
			// this.playerRunning = !this.playerRunning;
			this.running = false;
		},
		resizeVimeo (event, data, player) {
			console.log(event, data, player);
		},
		updatePaused(event) {
			this.videoElement = event.target;
			this.paused = event.target.paused;
		},
		play() {
			this.videoElement.play();
		},
		pause() {
			this.videoElement.pause();
		},
	}
}
</script>
<style type="text/css">
</style>